$breakpoint-default-media: screen;
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "../bower_components/susy/sass/susy";

@import "data/*";

@import "functions/*";
@import "settings/*";
@import "components/*";

@import "themes/color-sets/postmuseet";
@import "themes/color/*";
