$breakpoint-default-media: screen;
$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: false;
$breakpoint-to-ems: true;

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;


@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "../bower_components/susy/sass/susy";

@import "data/*";

@import "functions/*";
@import "settings/*";
@import "components/*";

@import "themes/slm/*";
