.is-loading {
  position: relative;
  min-height: 4em;
  overflow: hidden;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-color: rgba($white, 0.8);
    background-image: url('../img/ajax-loader.gif');
    background-position: 50% 2em;
    background-repeat: no-repeat;
    z-index: 1000;
  }
}
