extends ../includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/besoek-oss" itemprop="item")
                  span(itemprop="name")
                    |Besøk oss
                meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Kart og vegbeskrivelse
                meta(itemprop="position" content="3")

            h1.feature__title__content
              |Kart og vegbeskrivelse
  .constrained.spacing--bottom
    .article
      .article__content-left
        img(src="https://maps.googleapis.com/maps/api/staticmap?center=Maihaugvegen+1,+2609+Lillehammer&zoom=15&size=720x445&maptype=roadmap&markers=color:blue%7Clabel:M%7C61.112181,10.477324" alt="Kart over Maihaugen")
        br
        a(href="https://www.google.no/maps/dir//Maihaugvegen+1,+2609+Lillehammer/@61.112181,10.477324,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x466a8801df2ae48f:0x3936ca40761df7f1!2m2!1d10.4777387!2d61.1119464!3e0")
          |Vis større kart
      .article__content-right
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempore sint ullam rerum minus magnam a ad, quos, earum possimus fugit architecto, inventore perferendis ipsam iste autem consequuntur laudantium unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptates amet adipisci, obcaecati ipsa dignissimos harum quis architecto doloribus, quam, reprehenderit nesciunt officiis enim voluptate velit ea totam, quas! Id.
        h2
          |Buss
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis officia quaerat harum, sit a ipsam rerum obcaecati molestiae quis. Tempore quibusdam voluptate magni aliquam consectetur amet soluta eius, pariatur vitae!
        h2
          |Tog
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis officia quaerat harum, sit a ipsam rerum obcaecati molestiae quis. Tempore quibusdam voluptate magni aliquam consectetur amet soluta eius, pariatur vitae!
        p
          a(href="#{relativeRoot}maihaugen/kart/")
            |Opplevelseskart
