extends ../../includes/layout

block content
  .feature
    figure.feature__img
      img(src="#{relativeRoot}img/top-images/bygda.jpg" width="1600" height="620" alt="Mur og gjerde")

    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/opplev-maihaugen" itemprop="item")
                  span(itemprop="name")
                    |Opplev maihaugen
                meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/opplev-maihaugen/friluftsmuseet" itemprop="item")
                  span(itemprop="name")
                    |Friluftsmuseet
                meta(itemprop="position" content="3")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Bygda
                meta(itemprop="position" content="4")

            h1.feature__title__content.
              Bygda
  .constrained
    .article.spacing--bottom
      .article__intro
        p
          |Bygda er bygdesamfunnet med kirke og skolehus, prestegard,
          |gårder og husmannsplasser, setre og fiskerbuer med mer.
      .article__body
        p
          |Sentralt i bygda står kirka, den gamle stavkirka fra Garmo i Lom. I nærheten ligger prestegarden med sin
          |imponerende hage, skolestua og den militære magasinbygningen Telthuset.

        p
          |Nederst i bygda ligger Jørstad fra Fåberg i Lillehammer, en gard med bygninger fra 1700- og 1800-tallet.
          |I fjøset har dyra på Maihaugen sitt faste tilholdsted. Bjørnstad ligger borti bakken med sine 27 hus og vitner
          |om hvordan 1700-tallets gudbrandsdalsgard så ut. Lenger oppi lia ligger Øygarden fra Skjåk, der vi kan
          |oppleve gardslivet på en gammel gard omkring 1890. Husa ligger samla rundt tuna, men kvernhusa finner
          |vi langs bekken, der de ligger på rekke og rad.

        p
          |Videre opp i lia kommer vi til husmannsplassen Stykkebakken og til rydningsplassen Knutslykkja.
          |Bureiserbruket Åseng ligger enda høyere opp, i skogen ovenfor Valbjørsetra.

        p
          |Setergrenda hører bygdesamfunnet til, men ligger høyere opp mot fjellet.
          |Der ligger også fiskerbuer og Kinckhytta.

        ul.hashlist.js-scroll-to
          li
            |<span class="hashlist__char">#</span><a href="#garmo">Garmo stavkirke</a>
          li
            |<span class="hashlist__char">#</span><a href="#bjornstad">Bjørnstad - storgarden fra Vågå</a>

  .spacing--top.spacing--top-border.spacing--bottom.img-list#garmo(tabindex="-1")
    .constrained
      .article__content-left.sticky.js-sticky
        h2.h1
          |Garmo stavkirke
        p
          |Garmo stavkirke kommer fra Garmo i Lom. Den er oppført på 1200-tallet,
          |og utvidet flere ganger, senest i 1730. Den ble revet i 1880, men materialene
          |ble samlet og kirken ble rekonstruert på Maihaugen i 1921.

        p
          |Kirken har tradisjonelt vært bygdas samlingssted til gudstjenester, til sosialt
          |samvær ved kirkegang og ved begravelse. Stavkirkene på Garmo
          |Torgeir Gamle bygde kirke på garden Garmo i Lom, mot at kong Olav Haraldsson,
          |senere kalt Olav den Hellige, gav ham fiskevannet Tesse. Det skal ha skjedd
          |i 1021. Dermed var den første kirken på Garmo grunnlagt. Men omkring 1200
          |ble det bygd ny kirke, en enskipet stavkirke der koret var smalere enn skipet
          |og med svalgang rundt kirken.

        p
          |En stavkirke er en kirke bygd i stavteknikk, som består av et rammeverk
          |med stående stolper i hjørnene. Disse hjørnestolpene heter staver. Rammeverket
          |er fylt ut med stående tiler som danner veggene. Vinduer fantes ikke
          |i stavkirkene utenom små runde glugger øverst på veggen, slik det er bevart
          |i koret i Garmo stavkirke.

      .article__content-right
        img(src="#{relativeRoot}img/news-images/garmo-1-752.jpg" alt="Garmo stavkirke")
        img(src="#{relativeRoot}img/news-images/garmo-2-752.jpg" alt="Kors over inngangen")

  .spacing--top.spacing--top-border.spacing--bottom.img-list#bjornstad(tabindex="-1")
    .constrained
      .article__content-right.sticky.js-sticky
        h2.h1
          |Bjørnstad - storgarden fra Vågå
        p
          |Bjørnstad er en storgard fra 1700-tallet. Garden har 27 bygninger, de fleste plassert rundt to tun.

        p
          |De fleste husa på garden kommer fra Nedre Bjørnstad på Lalm i Vågå, men enkelte andre hus er satt på plass der det tidligere har stått andre hus på Bjørnstad.

        p
          |Rundt inntunet ligger bolighusa, stabbur og loft.

        ul
          li
            |Andersstua - gardbrukerens våningshus fra 1777
          li
            |Nystua - føderådstua fra 1787
          li
            |Løytnantstua - gammel stuebygning fra 1709. Den fikk navnet sitt fordi den var leid ut til en løytnant.
          li
            |Årestua - den gamle bolighustypen. Årestua komemr fra Vik i Kvam i Nord-Fron.
          li
            |Stabburet - øverst på tunet lå stabburet med sitt lager av matvarer. Fleskeskinkene og spekekjøtt av sau og geit hang i lange rekker for å sikre mat for gardens folk i lange tider.
          li
            |Loft - gardens to loft hadde rom for oppbevaring av mat i første etasje og til oppbevaring av klær i andre etasje, der det også var soveplasser.
          li
            |Kornbua - her var kornet oppbevart etter at det var treska.
          li
            |Stallen - det eneste huset for husdyr som var vendt mot inntunet. Stallen kommer fra Slette i Heidal.
        p
          |Rundt uttunet eller nautgarden ligger fjøset, sauefjøset, geitefjøset, grisehuset og flere løer og låver. I løene ble foret til de forskjellige dyra oppbevart. I låven ble loa oppbevart før tresking, og halmen ble lagret der.
        p
          |Utenfor gardstunet lå de husa som var brannfarlige, slik som smia, tørrstugu og eldhuset. I smia ble redskap reparert, hesten ble skodd og det ble smidd til gardens daglige bruk. I tørrstugu ble kornet tørka på hyller av skiferheller rundt en stor klebersteinsovn. Eldhuset var gardens grovkjøkken, der arbeid med slakt ble utført, øl ble brygga, og flatbrød ble bakt. Eldhuset er et langloft fra Melby i Kvikne i Nord-Fron.
        p
          |Kvernhusa måtte ligge ved en bekk med sikker vannføring. På Bjørnstad hadde de tre kvernhus. De laget kverstein selv, for på nabogarden Tolstad var det et stort kvernsteinsbrudd der gardbrukeren på Bjørnstad fikk hogge kvernsteiner, mot at grunneieren fikk hver fjerde stein. Bjørnstad hadde i perioder flere mann engasjert med kvernsteinsbryting - steiner som ble solgt i hele landet.
      .article__content-left
        img(src="#{relativeRoot}img/news-images/garmo-1-752.jpg" alt="Garmo stavkirke")
        img(src="#{relativeRoot}img/news-images/garmo-2-752.jpg" alt="Kors over inngangen")
