extends includes/layout

block content
  .spacing--bottom
    .constrained
      form.search.p(action="/Maihaugsalen/Sok/" method="get")
        label.visuallyhidden(for="searchpageform")
          |Søk blant arrangementer
        input.search__field#searchpageform(type="search" name="s" placeholder="Søk blant arrangementer")
        button.search__btn(type="submit")
          span.visuallyhidden
            |Søk
          i.icon.search__icon

    .constrained
      .grid
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
    .constrained.spacing--top.center
      a.btn(href="#{relativeRoot}maihaugsalen/program")
        |Program
