extends includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            h1.feature__title__content
              |Program

  .spacing--bottom
    .constrained
      form.search.p(action="/Maihaugsalen/Sok/" method="get")
        label.visuallyhidden(for="searchpageform")
          |Søk blant arrangementer
        input.search__field#searchpageform(type="search" name="s" placeholder="Søk blant arrangementer")
        button.search__btn(type="submit")
          span.visuallyhidden
            |Søk
          i.icon.search__icon

    .constrained
      form.filter
        fieldset.filter__field
          legend
            |Aktivitetstype
          input.filter__input(type="radio" name="type" id="type_0" checked)
          label.filter__label(for="type_0")
            |Alle
          input.filter__input(type="radio" name="type" id="type_1")
          label.filter__label(for="type_1")
            |Teater
          input.filter__input(type="radio" name="type" id="type_2" disabled)
          label.filter__label(for="type_2")
            |Konsert
          input.filter__input(type="radio" name="type" id="type_3")
          label.filter__label(for="type_3")
            |Barn
          input.filter__input(type="radio" name="type" id="type_4" disabled)
          label.filter__label(for="type_4")
            |Humor/show
          input.filter__input(type="radio" name="type" id="type_5" disabled)
          label.filter__label(for="type_5")
            |Festival
          input.filter__input(type="radio" name="type" id="type_6" disabled)
          label.filter__label(for="type_6")
            |Konferanse/foredrag
          input.filter__input(type="radio" name="type" id="type_7" disabled)
          label.filter__label(for="type_7")
            |Forestilling

      .filter__field-mobile
        label.filter__select-label(for="type")
          |Aktivitetstype
        select#type
          option(value="type_0")
            |Alle
          option(value="type_1")
            |Teater
          option(value="type_2" disabled)
            |Konsert
          option(value="type_3")
            |Barn
          option(value="type_4" disabled)
            |Humor/show
          option(value="type_5" disabled)
            |Festival
          option(value="type_6" disabled)
            |Konferanse/foredrag
          option(value="type_7" disabled)
            |Forestilling

      .media
        .media__img
          form.filter
            fieldset.filter__field
              legend
                |Når?
              input.filter__input(type="radio" name="time" id="time_0" checked)
              label.filter__label(for="time_0")
                |Alle
              input.filter__input(time="radio" name="time" id="time_1")
              label.filter__label(for="time_1")
                |I dag
              input.filter__input(time="radio" name="time" id="time_2")
              label.filter__label(for="time_2")
                |Denne uken

          .filter__field-mobile
            label.filter__select-label(for="time")
              |Når?
            select#type
              option(value="time_1")
                |Alle
              option(value="time_2")
                |I dag
              option(value="time_3")
                |Denne uken
        .media__bd.float--right
          .media
            .media__img
              fieldset.datepicker
                label.legend(for="datepicker_from")
                  |Fra dato
                input.datepicker__input#datepicker_from(type="date" data-native="mobile")
                i.datepicker__icon
            .media__bd
              fieldset.datepicker
                label.legend(for="datepicker_to")
                  |Til dato
                input.datepicker__input#datepicker_to(type="date" data-native="mobile")
                i.datepicker__icon

      .grid
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
              |Mat hestene
          .sidenote
            time
              |12:00
            span
              |–
            time
              |16:00

