extends includes/layout

block content
  .constrained
    h1.
      Sider
    ul
      li
        a(href="#{relativeRoot}slm/").
          Stiftelsen Lillehammer Museum
      li
        a(href="#{relativeRoot}aulestad/").
          Aulestad
      li
        a(href="#{relativeRoot}bjerkebaek/").
          Bjerkebæk
      li
        a(href="#{relativeRoot}maihaugen/").
          Maihaugen
      li
        a(href="#{relativeRoot}maihaugsalen/").
          Maihaugsalen
      li
        a(href="#{relativeRoot}nom/").
          Norges Olympiske Museum
      li
        a(href="#{relativeRoot}postmuseet/").
          Postmuseet
