extends ../includes/layout

block content
  .feature
    figure.feature__img
      img(src="#{relativeRoot}img/top-images/lights.jpg" width="1600" height="620" alt="Lykter på trapp")
      figcaption.feature__img__caption
        .feature__img__caption__text
          |The jump hills, Lysgaardsbakkene, are brought to life with movie clips and pictures from the Olympic Games in -52 and -94. Photo: Sarah Clarke / Mather &amp; Co.

    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/nyheter" itemprop="item")
                  span(itemprop="name")
                    |Nyheter
                meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Barnas sommerdag på Maihaugen
                meta(itemprop="position" content="3")

            h1.feature__title__content.
              Barnas sommerdag på Maihaugen
  .constrained
    .article
      .article__intro
        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa
          |på Øygarden. Mens hun koker vassgraut forteller hun om livet
          |på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet,
          |som på Bjørnstad og i Garmokirka, deler engasjerte guider
          |kunnskapen sin med deg.
      .article__body
        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        blockquote
          |Bare de som tar sjansen på å gå for langt, kan finne ut hvor langt det er mulig å gå.
          cite
            |T.S. Eliot

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        blockquote.article__pull-right
          |En optimist er et menneske som tror at en stueflue leter etter veien ut.
          cite
            |George Jean Nathan

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        h2.
          Solbrente bygninger

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        aside.box
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        aside.box.article__pull-right
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        h3.
          I Bygda er det solbrente bygninger
        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        figure.article__pull-right
          img(src="#{relativeRoot}img/news-images/jente-og-kalver-720.jpg" alt="Jente med kalv")
          figcaption
            |Det er morsomt å treffe de søte kalvene

        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

        img(src="#{relativeRoot}img/news-images/firhjuling-720.jpg" alt="Far og sønn på firhjuling")

  .spacing--top.spacing--bottom
    .constrained
      h2.
        Flere nyheter
      .grid
        .grid__item
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/barnas-sommerdag-322.jpg" alt="Emil i vinduet" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link.highlight(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html").
              Barnas sommerdag på Maihaugen
        .grid__item
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/utstilling-lillehammermalerne-322.jpg" alt="Emil og Ida" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html").
              Utstilling Lillehammermalerne
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/gudbrandsdalsseminaret-322.jpg" alt="Soldat med muskett" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#").
              Gudbrandsdalsseminaret: Ved et veiskille
