extends ../includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/nyheter" itemprop="item")
                  span(itemprop="name")
                    |Nyheter
                meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Utstilling Lillehammermalerne
                meta(itemprop="position" content="3")

            h1.feature__title__content.
              Utstilling Lillehammermalerne

  .constrained
    .article
      .article__intro
        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa
          |på Øygarden. Mens hun koker vassgraut forteller hun om livet
          |på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet,
          |som på Bjørnstad og i Garmokirka, deler engasjerte guider
          |kunnskapen sin med deg.
      .article__body
        p
          |I Bygda med sine solbrente bygninger, møter du kanskje kjerringa på Øygarden. Mens hun koker
          |vassgraut forteller hun om livet på 1890-tallet. Utafor gården elsker barna å henge over gjerdet
          |på grisebingen, særlig når den skal mates. I andre deler av museet, som på Bjørnstad og
          |i Garmokirka, deler engasjerte guider kunnskapen sin med deg.

  .spacing--top.spacing--bottom
    .constrained
      h2.
        Flere nyheter
      .grid
        .grid__item
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/barnas-sommerdag-322.jpg" alt="Emil i vinduet" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link.highlight(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html").
              Barnas sommerdag på Maihaugen
        .grid__item
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/utstilling-lillehammermalerne-322.jpg" alt="Emil og Ida" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html").
              Utstilling Lillehammermalerne
        .grid__item
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/gudbrandsdalsseminaret-322.jpg" alt="Soldat med muskett" width="322" height="252")
          h3.grid__item__title
            a.grid__item__title__link(href="#").
              Gudbrandsdalsseminaret: Ved et veiskille
