extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/aulestad.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/aulestad-oldIE.css')

block header
  mixin header('aulestad.png', relativeRoot + "aulestad/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/aulestad.ico")
