extends includes/layout

block content
  .constrained.spacing--top.spacing--bottom
    form.menu-content__search
        label.visuallyhidden(for="searchfield").
          Søk på siden
        input.menu-content__searchfield#searchfield(type="search" placeholder="Søk på siden")
        button.menu-content__searchbtn(type="submit")
          span.visuallyhidden.
            Søk
          i.icon.menu-content__search-icon
    h2
      |Museer
    .grid.clearfix.spacing--bottom
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}maihaugen" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/maihaugen-234.jpg" alt="Geiter" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}maihaugen")
            |Maihaugen
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}bjerkebaek" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/bjerkebaek-234.jpg" alt="Bjerkebæl" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}bjerkebaek")
            |Bjerkebæk
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}aulestad" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/aulestad-234.jpg" alt="Aulestad" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}aulestad")
            |Aulestad
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}postmuseet" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/postmuseet-234.jpg" alt="Postbiler" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}postmuseet")
            |Postmuseet
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}nom" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/olmuseet-234.jpg" alt="Sonia Henie" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}nom")
            |Norges Olympiske Museum
    h2
      |Kulturhus
    .grid.clearfix.spacing--bottom
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}maihaugen" tabindex="-1" role="presentation")
            img.grid__item__img(style="width: 100%;" src="#{relativeRoot}img/news-images/maihaugen-234.jpg" alt="Geiter" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}maihaugen")
            |Maihaugsalen

    h2
      |Fagavdelinger
    .grid.clearfix.spacing--bottom
      .grid__item.grid__item--3
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/nhi-234.jpg" alt="Håndverksklær" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Norsk håndverksinstitutt
      .grid__item.grid__item--3
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/haandverksnett-234.jpg" alt="Broderier" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Handverksnett
      .grid__item.grid__item--3
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/samtidsnett-234.jpg" alt="Retrofolk" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Samtidsnett
      .grid__item.grid__item--3
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/samtidsnett-234.jpg" alt="Retrofolk" width="234" height="183")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Opplandsarkivet avd. Maihaugen

