extends ../includes/layout

block content
  .feature
    figure.feature__img
      img(src="#{relativeRoot}img/top-images/school.jpg" width="1600" height="620" alt="Auditorium")

    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb
              li.breadcrumb__item
                a(href="#{relativeRoot}maihaugen/")
                  |Maihaugen
              li.breadcrumb__item
                span
                  |For skoler

            h1.feature__title__content.
              For skoler
  .constrained.spacing--bottom
    form.filter
      fieldset.filter__field
        legend.visuallyhidden
          |Målgruppe
        input.filter__input(type="radio" name="target" id="target_0" checked)
        label.filter__label(for="target_0")
          |Alle
        input.filter__input(type="radio" name="target" id="target_1")
        label.filter__label(for="target_1")
          |Barnehager
        input.filter__input(type="radio" name="target" id="target_2")
        label.filter__label(for="target_2")
          |1. - 4. trinn
        input.filter__input(type="radio" name="target" id="target_3")
        label.filter__label(for="target_3")
          |5. - 7. trinn
        input.filter__input(type="radio" name="target" id="target_4")
        label.filter__label(for="target_4")
          |8. - 10. trinn
        input.filter__input(type="radio" name="target" id="target_5")
        label.filter__label(for="target_5")
          |Videregående skole

      .filter__field-mobile
        label.filter__select-label(for="target")
          |Målgruppe
        select#target
          option(value="target_1")
            |Alle
          option(value="target_2")
            |Barnehager
          option(value="target_3")
            |1. - 4. trinn
          option(value="target_4")
            |5. - 7. trinn
          option(value="target_5")
            |8. - 10. trinn
          option(value="target_6")
            |Videregående skole

      fieldset.filter__field
        legend.visuallyhidden
          |Museum
        input.filter__input(type="radio" name="museum" id="museum_0" checked)
        label.filter__label(for="museum_0")
          |Alle
        input.filter__input(type="radio" name="museum" id="museum_1")
        label.filter__label(for="museum_1")
          |Maihaugen
        input.filter__input(type="radio" name="museum" id="museum_2")
        label.filter__label(for="museum_2")
          |Bjerkebæk
        input.filter__input(type="radio" name="museum" id="museum_3")
        label.filter__label(for="museum_3")
          |Aulestad
        input.filter__input(type="radio" name="museum" id="museum_4")
        label.filter__label(for="museum_4")
          |Postmuseet
        input.filter__input(type="radio" name="museum" id="museum_5")
        label.filter__label(for="museum_5")
          |OL-museet

      .filter__field-mobile
        label.filter__select-label(for="museum")
          |Museum
        select#museum
          option(value="museum_1")
            |Alle
          option(value="museum_2")
            |Maihaugen
          option(value="museum_3")
            |Bjerkebæk
          option(value="museum_4")
            |Aulestad
          option(value="museum_5")
            |Postmuseet
          option(value="museum_6")
            |OL-museet

    .grid
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Fjøsbesøk
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/run-322.jpg" alt="Løpende barn" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Øyvind het han og gråt da han ble født
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/playball-322.jpg" alt="Baseball ball" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Norsk OL-historie
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/skater-322.jpg" alt="Gutt på skateboard" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Skole OL
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/typewriter-322.jpg" alt="Skrivemaskin" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |De fire store ved to av dem
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/pen-322.jpg" alt="Pen og dagbok" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Med penn og blekk
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/axe-322.jpg" alt="Utstyr" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |God dag mann økseskaft
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/woods-322.jpg" alt="Skog" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Lykkelige dager på Bjerkebæk
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/path-322.jpg" alt="Sti i skogen" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Spor på stedet
