extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/nom.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/nom-oldIE.css')

block header
  mixin header('nom.png', relativeRoot + "nom/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/nom.ico")
