// Add the colors you need

$degree:            -55;

$white:             #fff;
$black:             #1b1b1b;
$gray:              #5a666a;
$gray-btn-border:   lighten($gray, 10%);
$light-gray:        #dedede;
$light-gray-border: lighten($gray, 30%);

$red:               #da291c;
$light-red:         #ffd3cd;

$green:             #6ba539;
$light-green:       #b2dcd6;

$blue:              #244a9a;
$light-blue:        #d2cde7;

$orange:            #ff6a13;
$light-orange:      #ffe596;

$cyan:              #00a9e0;
$light-cyan:        #99d6ea;


$link:              $blue !default;
$link-visited:      adjust-hue($link, 90deg) !default;
