@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

// @mixin fonts {

//     // LIGHT
//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanlig-webfont.eot');
//         src: url('../font/jacobsanlig-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanlig-webfont.woff') format('woff'),
//              url('../font/jacobsanlig-webfont.ttf') format('truetype');
//         font-weight: 200;
//         font-style: normal;

//     }

//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanligita-webfont.eot');
//         src: url('../font/jacobsanligita-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanligita-webfont.woff') format('woff'),
//              url('../font/jacobsanligita-webfont.ttf') format('truetype');
//         font-weight: 200;
//         font-style: italic;

//     }


//     // NORMAL
//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanboo-webfont.eot');
//         src: url('../font/jacobsanboo-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanboo-webfont.woff') format('woff'),
//              url('../font/jacobsanboo-webfont.ttf') format('truetype');
//         font-weight: 400;
//         font-style: normal;

//     }

//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanbooita-webfont.eot');
//         src: url('../font/jacobsanbooita-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanbooita-webfont.woff') format('woff'),
//              url('../font/jacobsanbooita-webfont.ttf') format('truetype');
//         font-weight: 400;
//         font-style: italic;

//     }


//     // SEMIBOLD
//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsansem-webfont.eot');
//         src: url('../font/jacobsansem-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsansem-webfont.woff') format('woff'),
//              url('../font/jacobsansem-webfont.ttf') format('truetype');
//         font-weight: 600;
//         font-style: normal;

//     }

//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsansemita-webfont.eot');
//         src: url('../font/jacobsansemita-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsansemita-webfont.woff') format('woff'),
//              url('../font/jacobsansemita-webfont.ttf') format('truetype');
//         font-weight: 600;
//         font-style: italic;

//     }


//     // BOLD
//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanbol-webfont.eot');
//         src: url('../font/jacobsanbol-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanbol-webfont.woff') format('woff'),
//              url('../font/jacobsanbol-webfont.ttf') format('truetype');
//         font-weight: 700;
//         font-style: normal;

//     }

//     @font-face {
//         font-family: 'Jacobs Sans';
//         src: url('../font/jacobsanbolita-webfont.eot');
//         src: url('../font/jacobsanbolita-webfont.eot?#iefix') format('embedded-opentype'),
//              url('../font/jacobsanbolita-webfont.woff') format('woff'),
//              url('../font/jacobsanbolita-webfont.ttf') format('truetype');
//         font-weight: 700;
//         font-style: italic;

//     }
// }

