extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/maihaugsalen.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/maihaugsalen-oldIE.css')

block header
  mixin header('maihaugsalen.png', relativeRoot + "maihaugsalen/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/maihaugsalen.ico")

block menu
  .menu.highlight
    nav.constrained(role="navigation" id="menu")
      ul.menu__list
        li.menu__item
          a(href="#{relativeRoot}maihaugsalen/program.html")
            i.icon.menu__icon.menu__icon--programme
            span
              |Program
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--organizer
            span
              |Arrangør
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--info
            span
              |Om Maihaugsalen
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--contact
            span
              |Kontakt oss
