extends ../includes/layout

block content
  .feature
    figure.feature__img
      img(src="#{relativeRoot}img/top-images/space.jpg" width="1600" height="620" alt="Auditorium")

    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                  meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Hva skjer?
                  meta(itemprop="position" content="2")

            h1.feature__title__content.
              Hva skjer?
  .constrained.spacing--bottom
    h2
      |Aktiviteter

    form.filter.p
      .media
        .media__img--right
          fieldset.datepicker
            label.legend(for="datepicker")
              |Dato
            input.datepicker__input(type="date" data-native="mobile" id="datepicker")
            .datepicker__icon
        .media__bd
          fieldset.filter__field
            legend
              |Aktivitetstype
            input.filter__input(type="radio" name="type" id="type_0" checked)
            label.filter__label(for="type_0")
              |Alle
            input.filter__input(type="radio" name="type" id="type_1")
            label.filter__label(for="type_1")
              |For barn
            input.filter__input(type="radio" name="type" id="type_2")
            label.filter__label(for="type_2")
              |Guidet omvisning

          .filter__field-mobile
            label.filter__select-label(for="type")
              |Aktivitetstype
            select#type
              option(value="type_1")
                |Alle
              option(value="type_2")
                |For barn
              option(value="type_3")
                |Guidet omvisning

    .grid
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00
      .grid__item
        .grid__item__img-container
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        .sidenote
          time
            |12:00
          span
            |–
          time
            |16:00

  .constrained.spacing--bottom
    h2
      |Arrangementer
    .grid
      .grid__item.grid__item--12
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/maihauglopet-1024.jpg" alt="Maihaugløpet" width="1024" height="504")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Maihaugløpet
        .sidenote
          time(datetime="2015-05-01")
            |1.
          span
            |–
          time(datetime="2015-05-03")
            |3. mai
        p
          |Andre løp i Sørdalskarusellen foregår i vakre omgivelser på Maihaugen. Løpet har vært arrangert hvert år siden 1984.
    .grid
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/fuglevandring-322.jpg" alt="Ender i dam" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Fuglevandring
        .sidenote
          time(datetime="2015-05-10")
            |10. mai
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/skjonnhetstyrraniet-322.jpg" alt="Skjønnhetstyranniet" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Foredrag: Skjønnhetstyranniet
        .sidenote
          time(datetime="2015-05-10")
            |10. mai
      .grid__item
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/ord-og-toner-322.jpg" alt="Ord og toner" width="322" height="252")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Ord og toner
        .sidenote
          time(datetime="2015-05-17")
            |17. mai
    .grid
      .grid__item.grid__item--6
        .grid__item__img-container
          a(href="#" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/open-fjos-497.jpg" alt="Åpent fjøs" width="497" height="320")
        h3.grid__item__title
          a.grid__item__title__link(href="#")
            |Åpent fjøs
        .sidenote
          time(datetime="2015-05-24")
            |24. mai
        p
          |Søndag 24. mai kl. 12.00 - 14.00: Kom på besøk til dyra på Maihaugen! Nå har vi både kaninunger, grisunger og lamunger.
      .grid__item.grid__item--6
        .grid__item__img-container
          a(href="#{relativeRoot}maihaugen/hva-skjer/arrangementer/klypa-seiler-i-beltestredet.html" tabindex="-1" role="presentation")
            img.grid__item__img(src="#{relativeRoot}img/news-images/klypa-497.jpg" alt="Klypa seiler i beltestredet" width="497" height="320")
        h3.grid__item__title
          a.grid__item__title__link(href="#{relativeRoot}maihaugen/hva-skjer/arrangementer/klypa-seiler-i-beltestredet.html")
            |Klypa - seiler i beltestredet
        .sidenote
          time(datetime="2016-02-20")
            |20. februar
        p
          |Du treff den irriterande positive Strila-Petter, den litt "enkle" Palle som fortsatt strevar med livets opp- og nedturar og sist men ikkje minst - Kjell "Kjellen" Bigset som fortsatt er like sjølvopptatt og skråsikker på det meste i livet.
