extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/bjerkebaek.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/bjerkebaek-oldIE.css')

block header
  mixin header('bjerkebaek.png', relativeRoot + "bjerkebaek/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/bjerkebaek.ico")
