extends includes/layout

block content
  .feature.feature--space
    figure.feature__img
      img(src="#{relativeRoot}img/top-images/lights.jpg" width="1600" height="620" alt="Lykter på trapp")

    .feature__content
      .constrained
        .clearfix
          h2.feature__title.h1
            a.feature__title__content(href="#").
              Skogsarbeid med hest søndag 8. mars kl. 11 - 15
        p.feature__intro.
          Kjenn lukta av kvae og hest, granbar, bålrøyk og nykokt kaffe!
        p
          a.btn(href="#" tabindex="-1" role="presentation").
            Les mer

  .spacing--top.spacing--top-border.overflow-hidden
    .constrained
      .grid
        .grid__item.grid__item--first
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/barnas-sommerdag-468.jpg" alt="Emil i vinduet" width="468" height="252")
          h2.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}maihaugen/nyheter/barnas-sommerdag-paa-maihaugen.html").
              Barnas sommerdag på Maihaugen
        .grid__item
          .grid__item__img-container
            a(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/utstilling-lillehammermalerne-322.jpg" alt="Emil og Ida" width="322" height="252")
          h2.grid__item__title
            a.grid__item__title__link(href="#{relativeRoot}maihaugen/nyheter/utstilling-lillehammermalerne.html").
              Utstilling Lillehammermalerne
        .grid__item.grid__item--last
          .grid__item__img-container
            a(href="#" tabindex="-1" role="presentation")
              img.grid__item__img(src="#{relativeRoot}img/news-images/gudbrandsdalsseminaret-468.jpg" alt="Soldat med muskett" width="468" height="252")
          h2.grid__item__title
            a.grid__item__title__link(href="#").
              Gudbrandsdalsseminaret: Ved et veiskille
  .spacing--top.spacing--top-border.spacing--bg-left
    .constrained
      .grid
        .grid__item--6.grid__item--center
          a(href="#" tabindex="-1" role="presentation")
            img(src="#{relativeRoot}img/news-images/unger-i-gata-497.jpg" alt="Barn leker i gata" width="497" height="320")
          a(href="#").calendar-item.overlay-box.overlay-box--invert
            .overlay-box__content
              time.calendar-item__date(datetime="2015-08-30")
                span.calendar-item__date__day.
                  30.
                abbr.calendar-item__date__month(title="august").
                  &nbsp;aug
              span.calendar-item__title.
                Skogsarbeider med hest
              span.calendar-item__text.
                Søndag 8. mars kl. 11 - 15
  .spacing--top.spacing--top-border.spacing--bg-right
    .constrained
      .grid.clearfix
        .grid__item--6
          a(href="#" tabindex="-1" role="presentation")
            img(src="#{relativeRoot}img/news-images/unge-mot-vindu-497.jpg" alt="Mann holder barn mot vindu" width="497" height="320")
          a(href="#").calendar-item.overlay-box
            .overlay-box__content
              time.calendar-item__date(datetime="2015-08-30")
                span.calendar-item__date__day.
                  30.
                abbr.calendar-item__date__month(title="august").
                  &nbsp;aug
              span.calendar-item__title.
                Skogsarbeider med hest
              span.calendar-item__text.
                Søndag 8. mars kl. 11 - 15
        .grid__item--6
          a(href="#" tabindex="-1" role="presentation")
            img(src="#{relativeRoot}img/news-images/mann-og-hest-497.jpg" alt="Tømmerhogger med hest" width="497" height="320")
          a(href="#").calendar-item.overlay-box
            .overlay-box__content
              time.calendar-item__date(datetime="2015-08-30")
                span.calendar-item__date__day.
                  30.
                abbr.calendar-item__date__month(title="august").
                  &nbsp;aug
              span.calendar-item__title.
                Skogsarbeider med hest
              span.calendar-item__text.
                Søndag 8. mars kl. 11 - 15
      .center
        p
          a.btn.btn--large.btn--link(href="#").
            Se flere arrangementer
