extends includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            h1.feature__title__content
              |Søk: <em>Rann</em>
        div
          form.search(action=relativeRoot + 'maihaugen/sok.html')
            label.visuallyhidden(for="searchpageform").
              Søk på siden
            input.search__field#searchpageform(type="search" placeholder="Søk på siden")
            button.search__btn(type="submit")
              span.visuallyhidden.
                Søk
              i.icon.search__icon
        .sidenote
          |Søket gav 32 treff

        form.filter.media.p
          .media__img--right
            label.filter__select-label(for="order")
              |Sortering
            select#order
              option(value="order_1")
                |Relevans
              option(value="order_2")
                |Nyeste først
              option(value="order_3")
                |Eldste først

          .media__bd
            fieldset.filter__field
              legend.visuallyhidden
                |Innholdstype
              input.filter__input(type="radio" name="type" id="type_0" checked)
              label.filter__label(for="type_0")
                |Alle
              input.filter__input(type="radio" name="type" id="type_1")
              label.filter__label(for="type_1")
                |Sider
              input.filter__input(type="radio" name="type" id="type_2")
              label.filter__label(for="type_2")
                |Arrangementer
              input.filter__input(type="radio" name="type" id="type_3")
              label.filter__label(for="type_3")
                |Aktiviteter
              input.filter__input(type="radio" name="type" id="type_4")
              label.filter__label(for="type_4")
                |Ansatte

            .filter__field-mobile
              label.filter__select-label(for="typeselect")
                |Innholdstype
              select#typeselect
                option(value="type_1")
                  |Alle
                option(value="type_2")
                  |Sider
                option(value="type_3")
                  |Arrangementer
                option(value="type_4")
                  |Aktiviteter
                option(value="type_5")
                  |Ansatte

  ul.search-result
    li.search-result__item
      .constrained
        .media
          .media__img
            i.person__icon
          .media__bd
            h2.search-result__item__title
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Urdahl, Rannveig
            .sidenote.small
              |Kommunikasjonsrådgiver
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00
    li.search-result__item
      .constrained
        h2.search-result__item__title
          a(href="#{relativeRoot}/maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
            |Mat hestene
        p.search-result__item__intro
          |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.
        p.search-result__item__extra.sidenote
          |1. juni - 31. august. Mandag - lørdag. 12:00 - 16:00

  .constrained.spacing--top.spacing--bottom
    nav.pagination(role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination")
      ul.pagination__pages
        li.pagination__page
          span.pagination__link.pagination__link--prev.btn.btn--disabled
            i.icon.icon--chevron-left-black-24
            |Forrige
        li.pagination__page
          a.pagination__page__link.pagination__page__link--active(tabindex="-1")
            |1
        li.pagination__page
          a.pagination__page__link(href="/sok/(offset)/10")
            |2
        li.pagination__page
          a.pagination__page__link(href="/sok/(offset)/20")
            |3
        li.pagination__page
          a.pagination__page__link(href="/sok/(offset)/30")
            |4
        li.pagination__page
          a.pagination__link.pagination__link--next.btn(href="/sok/(offset)/10" rel="next")
            |Neste
            i.icon.icon--chevron-right-black-24



