doctype html
html(lang='no')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block meta
      title
        |SLM
      meta(name='description' content='Legg inn tekstbeskrivelse av siden')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    |<!--[if lt IE 9]>
    script(src=relativeRoot + 'js/oldIE.js')
    |<![endif]-->
    |<!--[if gte IE 9]>
    link(rel='stylesheet' href= relativeRoot + 'css/main.css?v=3')
    |<![endif]-->
    |<!--[if !IE]> -->
    link(rel='stylesheet' href= relativeRoot + 'css/main.css?v=3')
    |<!-- <![endif]-->
    block theme-css

    | <!--[if lte IE 8]>
    link(rel='stylesheet' href= relativeRoot + 'css/oldIE.css?v=3')
    block theme-css-ie
    | <![endif]-->

    block head-css

    block head-js

    block favicon

  body
    block menu
      include partials/menu
    include partials/header
    block header
      mixin header(false, relativeRoot)

    block content

    include partials/menu_menu
    include partials/menu_calendar
    include partials/menu_openingtimes
    mixin menu
    mixin calendar
    mixin openingtimes
    include partials/footer
    include partials/newsletter_modal

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script
      |window.jQuery || document.write('<script src=#{relativeRoot}assets/js/jquery.min.js">\x3C/script>')
    script(src=relativeRoot + 'js/jquery.magnific-popup.min.js')
    script(src=relativeRoot + 'js/main.js')

