extends ../../includes/layout

block content
  article(itemscope itemtype="https://schema.org/Event")
    .feature
      figure.feature__img
        img(src="#{relativeRoot}img/top-images/klypa.jpg" itemprop="image" width="1600" height="620" alt="Klypa seiler i beltestredet")

      .feature__content
        .constrained
          .clearfix
            header.feature__title
              ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/" itemprop="item")
                    span(itemprop="name")
                      |Maihaugen
                  meta(itemprop="position" content="1")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/hva-skjer" itemprop="item")
                    span(itemprop="name")
                      |Hva skjer?
                  meta(itemprop="position" content="2")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/hva-skjer/arrangementer" itemprop="item")
                    span(itemprop="name")
                      |Arrangementer
                  meta(itemprop="position" content="3")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  span(itemprop="item")
                    span(itemprop="name")
                      |Klypa - Seiler i beltestredet
                  meta(itemprop="position" content="4")
              h1.feature__title__content(itemprop="name")
                |Klypa - Seiler i beltestredet
    .constrained
      .article
        .article__intro(itemprop="description")
          p
            |Tittelen avslører at karakterane fortsatt legger ut om det den vanlige mann held for seg sjølv. Du
            |treff den irriterande positive Strila-Petter, den litt "enkle" Palle som fortsatt strevar med livets
            |opp- og nedturar og sist men ikkje minst - Kjell "Kjellen" Bigset som fortsatt er like sjølvopptatt
            |og skråsikker på det meste i livet.

        .article__right-col
          p.big
            time(itemprop="startDate" datetime="2016-02-06 20:00")
              |Fredag 6. februar kl. 20:00

          p
            span(itemprop="location" itemscope itemtype="http://schema.org/PostalAddress")
              span.big
                span(itemprop="name")
                  |Maihaugsalen
              span(itemprop="streetAddress")
                |Maihaugvegen 1
              br
              |<span itemprop="postalCode">2609</span> <span itemprop="addressLocality">Lillehammer</span>
            br
            |(<a href="#">Kart</a>)

          p
            span.big(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
              span(itemprop="priceCurrency" content="NOK")
                |kr&nbsp;
              span(itemprop="price" content="425.00")
                |425,00
            br
            |(inkl. avgifter kr 25,00)

          p
            a.btn(href="#")
              |Bestill billetter

          h2.big
            |Praktisk informasjon
          ul
            li
              meta(itemprop="duration" content="T1M15S")
              |Varighet 75 minutter
            li
              |Dørene åpner kl.
              time(itemprop="doorTime" datetime="2016-02-06 19:30")
                |19:30
            li
              |Rullestolbrukere ring&nbsp;
              a(href="tel:612 88 900")
                |612 88 900
            li
              |Ledsagerbevis aksepteres


        .article__body
          p
            |Thomas N. Ryste er i storslag og utgjer dei litt utanomvanlige
            |figurane som no er allemannseige. En tittel som røper at Klypa
            |framdeles kaller en spade for en spade! Selvfølgeleg får du
            |også denne gangen møte den irriterende positive Strila-Petter,
            |den litt "enkle" Palle som strever med livets opp- og nedturer
            |og sist men ikke minst Kjell "Kjellen" Bigset som fortsatt er like
            |selvopptatt og skråsikker på det meste her i livet.

          img(src="#{relativeRoot}img/news-images/klypa-skrik-720.jpg" alt="Gal mann med hagle")

          blockquote.article__pull-left
            |Ellevillt og herlig!
            cite
              |Bergensavisen (5)

          p
            |Fenomenet Klypa har siden 2005
            |for alvor satt sine spor i humorNorge.
            |Med over 7 millioner
            |visninger på YouTube og heftig
            |turnering over hele landet, har
            |Klypa opparbeidet seg en stor og


    .spacing--top.spacing--bottom
      .constrained
        h2.
          Flere arrangementer
        .grid
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/fuglevandring-322.jpg" alt="Ender i dam" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#")
                |Fuglevandring
            .sidenote
              time(datetime="2015-05-10")
                |10. mai
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/skjonnhetstyrraniet-322.jpg" alt="Skjønnhetstyranniet" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#")
                |Foredrag: Skjønnhetstyranniet
            .sidenote
              time(datetime="2015-05-10")
                |10. mai
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/ord-og-toner-322.jpg" alt="Ord og toner" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#")
                |Ord og toner
            .sidenote
              time(datetime="2015-05-17")
                |17. mai
