extends ../../includes/layout

block content
  article(itemscope itemtype="https://schema.org/Event")
    .feature
      figure.feature__img
        img(src="#{relativeRoot}img/top-images/mat-hestene.jpg" itemprop="image" width="1600" height="620" alt="To hester som beiter")

      .feature__content
        .constrained
          .clearfix
            header.feature__title
              ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/" itemprop="item")
                    span(itemprop="name")
                      |Maihaugen
                  meta(itemprop="position" content="1")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/hva-skjer" itemprop="item")
                    span(itemprop="name")
                      |Hva skjer?
                  meta(itemprop="position" content="2")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  a(href="#{relativeRoot}maihaugen/hva-skjer/aktiviteter" itemprop="item")
                    span(itemprop="name")
                      |Aktiviteter
                  meta(itemprop="position" content="3")
                li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  span(itemprop="item")
                    span(itemprop="name")
                      |Mat hestene
                  meta(itemprop="position" content="4")
              h1.feature__title__content(itemprop="name")
                |Mat hestene
    .constrained
      .article
        .article__intro(itemprop="description")
          p
            |Kulturlandskapet viser forholdet mellom mennesker og omgivelser. På Maihaugen bidrar husdyra til å forme landskapet.

        .article__right-col
          .box
            p
              |Fra<br>
              span.big
                |1. juni
            p
              |Til<br>
              span.big
                |31. august
            p
              |Dager<br>
              span.big
                |mandag - lørdag
            p
              |Tidspunkt<br>
              span.big
                |12:00 - 16:00


        .article__body
          h2
            |Bevaring av gamle husdyrraser og vekster fra Gudbrandsdalen
          p
            |Maihaugen har arbeidet bevisst med kulturlandskapet og deltar i organisert bevaringsarbeid for truede husdyrraser i Norge. På museet gir dette arbeidet mulighet for å illustrere det lokale husdyrholdet. Samtidig viser det publikum hvordan menneskene til alle tider har formet landskapet rundt seg. Beiting, lauving og slått skapte særegne kulturlandskap som er i ferd med å forsvinne i dagens moderne jordbruk. Derfor tar Maihaugen ikke bare vare på hus og gjenstander. Også vekster og husdyrraser som var vanlige i Gudbrandsdalen, finnes på museet. Det er et viktig bevaringsarbeid.

          h2
            |Dyr vedlikeholder kulturlandskapet

          p
            |Gamle husdyrraser kan være bærere av egenskaper som blir verdifulle i framtida. Produksjonsmessige endringer i landbruket kan kreve spesielle egenskaper hos husdyr. Det trengs også husdyr til å vedlikeholde kulturlandskapet på museet. På spesielle dager i året kan museumsgjester gå inn til dyra i driftsbygningen på Jørstad. Om sommeren er dyrene på de beste beiteplassene i friluftsmuseet.

          h2
            |1890-tallslandbruk

          p
            |Øygarden er en middels stor gard fra Skjåk. Om sommeren er den befolket, og jordbruk og husdyrhold drives på 1890-tallsvis. Åkrer, slåttemark og beiter forteller om sjølbergingsbruket, og danner en levende ramme om husene.

          h2
            |Hager fra 1900-tallet
          p
            |I Boligfeltet danner hagene rammen rundt husene. Tidlig på århundret var frukt og grønnsaker fra villahagen en viktig del av husholdningen. Senere er hagene først og fremst blitt et sted for rekreasjon, hvor man nyter sola, griller eller steller blomsterbedene.

    .spacing--top.spacing--bottom
      .constrained
        h2.
          Flere aktiviteter
        .grid
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#{relativeRoot}maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
                |Mat hestene
            .sidenote
              time
                |12:00
              span
                |–
              time
                |16:00
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#{relativeRoot}maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
                |Mat hestene
            .sidenote
              time
                |12:00
              span
                |–
              time
                |16:00
          .grid__item
            .grid__item__img-container
              a(href="#" tabindex="-1" role="presentation")
                img.grid__item__img(src="#{relativeRoot}img/news-images/sheep-322.jpg" alt="Sauer" width="322" height="252")
            h3.grid__item__title
              a.grid__item__title__link(href="#{relativeRoot}maihaugen/hva-skjer/aktiviteter/mat-hestene.html")
                |Mat hestene
            .sidenote
              time
                |12:00
              span
                |–
              time
                |16:00
