// COLORS
$color-light:   $light-orange;
$color-dark:    $orange;
$color-logo-bg: $orange;

$color-link:          #c34e0a;
$color-link-visited:  #846450;

// ICONS
$icon-menu:       menu-orange-24;
$icon-calendar:   calendar-orange-24;
$icon-watch:      watch-orange-24;
$icon-map:        map-orange-24;
$icon-menu-close: menu-close-orange-24;
$icon-search:     search-t-orange-24;
$icon-ticket:     ticket-filled-orange-24;
$icon-person-24:  person-orange-24;
