// COLORS
$color-light:   $light-green;
$color-dark:    $green;
$color-logo-bg: $green;

$color-link:          #517E29;
$color-link-visited:  #5f714f;

// ICONS
$icon-menu:       menu-green-24;
$icon-calendar:   calendar-green-24;
$icon-watch:      watch-green-24;
$icon-map:        map-green-24;
$icon-menu-close: menu-close-green-24;
$icon-search:     search-t-green-24;
$icon-ticket:     ticket-filled-green-24;
$icon-person-24:  person-green-24;
