// COLORS
$color-light:   $light-blue;
$color-dark:    $blue;
$color-logo-bg: $blue;

$color-link:          $blue;
$color-link-visited:  #657493;

// ICONS
$icon-menu:       menu-blue-24;
$icon-calendar:   calendar-blue-24;
$icon-watch:      watch-blue-24;
$icon-map:        map-blue-24;
$icon-menu-close: menu-close-blue-24;
$icon-search:     search-t-blue-24;
$icon-ticket:     ticket-filled-blue-24;
$icon-person-24:  person-blue-24;
$icon-press-24:   press-blue-24;
