// COLORS
$color-light:   $light-cyan;
$color-dark:    $cyan;
$color-logo-bg: $cyan;

$color-link:          #0a779b;
$color-link-visited:  #56747e;

// ICONS
$icon-menu:       menu-cyan-24;
$icon-calendar:   calendar-cyan-24;
$icon-watch:      watch-cyan-24;
$icon-map:        map-cyan-24;
$icon-menu-close: menu-close-cyan-24;
$icon-search:     search-t-cyan-24;
$icon-ticket:     ticket-filled-cyan-24;
$icon-person-24:  person-cyan-24;
$icon-press-24:   press-cyan-24;
