// COLORS
$color-light:   $light-red;
$color-dark:    $red;
$color-logo-bg: $red;

$color-link:          $red;
$color-link-visited:  #9b6161;

// ICONS
$icon-menu:       menu-red-24;
$icon-calendar:   calendar-red-24;
$icon-watch:      watch-red-24;
$icon-map:        map-red-24;
$icon-menu-close: menu-close-red-24;
$icon-search:     search-t-red-24;
$icon-ticket:     ticket-filled-red-24;
$icon-person-24:  person-red-24;
