extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/slm.css')

block header
  mixin header('slm.png', relativeRoot + "slm/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/slm.ico")

block menu
  .menu.highlight
    nav.constrained(role="navigation" id="menu")
      ul.menu__list
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--paper
            span.
              Presse
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--person-search
            span.
              Ledige stillinger
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--email
            span.
              Kontakt oss
        li.menu__item
          a(href="#")
            i.icon.menu__icon.menu__icon--building
            span.
              Om stiftelsen
