extends ../../../includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                  meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/om-maihaugen" itemprop="item")
                  span(itemprop="name")
                    |Om Maihaugen
                  meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss" itemprop="item")
                  span(itemprop="name")
                    |Kontakt oss
                  meta(itemprop="position" content="3")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte" itemprop="item")
                  span(itemprop="name")
                    |Liste over ansatte
                  meta(itemprop="position" content="4")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Arnesen, Trude
                  meta(itemprop="position" content="5")

            h1.feature__title__content.
              Arnesen, Trude

  .constrained.spacing--bottom
    .article
      .article__intro
        p
          |Direktør Organisasjon og Kommunikasjon - Lillehammer Museum - Ledelsen
      .article__body
        |Mobil: <a href="tel:91773895">917 73 895</a><br>
        |E-post: <a href="mailto:trude.arnesen@lillehammermuseum.no">trude.arnesen@lillehammermuseum.no</a>
