extends ../../../includes/layout

block content
  .feature
    .feature__content
      .constrained
        .clearfix
          header.feature__title
            ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/" itemprop="item")
                  span(itemprop="name")
                    |Maihaugen
                  meta(itemprop="position" content="1")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/om-maihaugen" itemprop="item")
                  span(itemprop="name")
                    |Om Maihaugen
                  meta(itemprop="position" content="2")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss" itemprop="item")
                  span(itemprop="name")
                    |Kontakt oss
                  meta(itemprop="position" content="3")
              li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item")
                  span(itemprop="name")
                    |Liste over ansatte
                  meta(itemprop="position" content="4")

            h1.feature__title__content.
              Liste over ansatte
  .constrained
    .filter__field
      legend.visuallyhidden
        |Sorter
      input.filter__input(type="radio" id="sort_0" name="sort_type" value="alph" checked)
      label.filter__label(for="sort_0")
        |Sorter alfabetisk
      input.filter__input(type="radio" id="sort_1" name="sort_type" value="dep")
      label.filter__label(for="sort_1")
        |Sorter etter avdeling
    .filter__field-mobile
      label.filter__select-label(for="sort_type_mobile")
        |Sorter
      select#sort_type_mobile
        option(value="alph")
          |Sorter alfabetisk
        option(value="dep")
          |Sorter etter avdeling

  .spacing--bottom
    ul.search-result
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Arnesen, Trude
              .sidenote.small
                |Direktør Organisasjon og Kommunikasjon
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Bogren, Bente
              .sidenote.small
                |HR-konsulent
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Dahl, Silje Bergheim
              .sidenote.small
                |Sommerkoordinator
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Falk, Eivind
              .sidenote.small
                |Direktør
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Fløtlien, Hege Granseth
              .sidenote.small
                |HR-konsulent
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Molvig, Bente
              .sidenote.small
                |Direktør Spesialmuseene
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Skurdal, Jostein
              .sidenote.small
                |Administrerende direktør
      li.search-result__item.search-result__item--small
        .constrained
          .media
            .media__img
              i.person__icon
            .media__bd
              a(href="#{relativeRoot}maihaugen/om-maihaugen/kontakt-oss/liste-over-ansatte/arnesen-trude.html")
                |Urdahl, Rannveig
              .sidenote.small
                |Kommunikasjonsrådgiver
