footer.footer
  .constrained
    .footer__content
      .footer__contact.footer__col
        h2.footer__title.
          Kontakt oss
        p.
          Maihaugvegen 1 Lillehammer<br>
          Telefon: +47 61 28 89 00<br>
          Mandag - fredag kl. 0900 - 1530<br>
          E-post: <a href="mailto:post@lillehammermuseum.no">post@lillehammermuseum.no</a>

        p
          a(href="#")
            |Personvernerklæring

        ul.social-links.nolist
          li.social-links__item
            a(href="//www.facebook.com")
              i.icon.icon--facebook-32
              span.visuallyhidden.
                Facebook
          li.social-links__item
            a(href="//www.instagram.com")
              i.icon.icon--instagram-32
              span.visuallyhidden.
                Instagram
          li.social-links__item
            a(href="//www.tripadvisor.com")
              i.icon.icon--tripadvisor-logo-32
              span.visuallyhidden.
                TripAdvisor

      .footer__newsletter.footer__col
        h2.footer__title.
          Hold deg oppdatert
        div
          span.
            Meld deg på vårt nyhetsbrev
          form
            label(for="newsletter_email").visuallyhidden.
              E-postadresse
            input.footer__email-input(id="newsletter_email" type="email" placeholder="E-post" required)
            p
              button.
                Send
      .footer__logo.footer__col.footer__col--last
        i.icon.icon--slm-logo-white
