mixin header(logo, root)
  header.banner(role="header")
    .banner__content.constrained
      a.logo(href=root)
        if logo
          img.logo__img(src="#{relativeRoot}img/#{logo}" width="316" height="88" alt="Maihaugen - Tradisjon og levemåte")
        else
          span(style="font-size: 2em; line-height: 3;").
            SLM
