mixin menu
  nav.menu-content.js-menu-content#menu-content(role="navigation")
    .constrained
      form.search.menu-content__spacing(action=relativeRoot + 'maihaugen/sok.html')
        label.visuallyhidden(for="searchfield").
          Søk på siden
        input.search__field#searchfield(type="search" placeholder="Søk på siden")
        button.search__btn(type="submit")
          span.visuallyhidden.
            Søk
          i.icon.search__icon

      .menu-content__menu-row
        each menuItems in menu
          ul.menu-content__links
            each menuItem in menuItems
              li.menu-content__links__item
                a.menu-content__links__link(href=relativeRoot + menuItem.url)= menuItem.text
                if menuItem.submenu
                  ul.menu-content__links__sublinks
                    each submenuItem in menuItem.submenu
                      li.menu-content__links__sublinks__item
                        a.menu-content__links__sublinks__link(href=relativeRoot + submenuItem.url)= submenuItem.text
                        if submenuItem.submenu
                          ul.menu-content__links__sublinks__sublinks
                            each subsubmenuItem in submenuItem.submenu
                              li.menu-content__links__sublinks__sublinks__item
                                a.menu-content__links__sublinks__sublinks__link(href=relativeRoot + subsubmenuItem.url)= subsubmenuItem.text


//- nav.menu-content.js-menu-content#menu-content(role="navigation")
//-   form
//-     label.visuallyhidden(for="searchfield").
//-       Søk på siden
//-     input.menu-content__search#searchfield(type="search" placeholder="Søk på siden")

//-   ul.menu-content__links
//-     li.menu-content__links__item
//-       a.menu-content__links__link(href="#").
//-         Forsiden
//-     li.menu-content__links__item
//-       a.menu-content__links__link(href="#").
//-         Hva skjer?
//-     li.menu-content__links__item
//-       a.menu-content__links__link(href="#").
//-         Friluftsmuseet
//-       ul.menu-content__links__sublinks
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Bygda
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Byen
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Boligfeltet
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Dyrene
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Landskapet

//-   ul.menu-content__links
//-     li.menu-content__links__item
//-       a.menu-content__links__link(href="#").
//-         For skoler
//-       ul.menu-content__links__sublinks
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Den kulturelle skolesekken
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Praktisk informasjon
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Skoletur
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Bestilling og booking
//-     li.menu-content__links__item
//-       a.menu-content__links__link(href="#").
//-         Grupper og utleie
//-       ul.menu-content__links__sublinks
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Opplevelser i historiske omgivelser
//-         li.menu-content__links__sublinks__item
//-           a.menu-content__links__sublinks__link(href="#").
//-             Møterom og selskapslokaler
