mixin calendar
  section.menu-content.js-menu-content#menu-calendar
    .constrained
      .menu-content__row
        .menu-content__col.menu-content__col--small.menu-content__spacing
          .calendar
            table
              caption
                time(datetime="2015-05").
                  Mai 2015
              thead
                tr
                  th(scope="col")
                    abbr(title="Mandag").
                      M
                  th(scope="col")
                    abbr(title="Tirsdag").
                      T
                  th(scope="col")
                    abbr(title="Onsdag").
                      O
                  th(scope="col")
                    abbr(title="Torsdag").
                      T
                  th(scope="col")
                    abbr(title="Fredag").
                      F
                  th(scope="col")
                    abbr(title="Lørdag").
                      L
                  th(scope="col")
                    abbr(title="Søndag").
                      S
              tbody
                tr
                  td.calendar__expired
                    time(datetime="2015-04-27").sidenote.
                      27
                  td.calendar__expired
                    time(datetime="2015-04-28").sidenote.
                      28
                  td.calendar__expired
                    time(datetime="2015-04-29").sidenote.
                      29
                  td.calendar__expired
                    time(datetime="2015-04-30").sidenote.
                      30
                  td.calendar__expired
                    a(href="#2015-05-01")
                      time(datetime="2015-05-01").
                        1
                  td.calendar__expired
                    a(href="#2015-05-02")
                      time(datetime="2015-05-02").
                        2
                  td.calendar__expired
                    a(href="#2015-05-03")
                      time(datetime="2015-05-03").
                        3
                tr
                  td.calendar__expired
                    time(datetime="2015-05-04").
                      4
                  td.calendar__expired
                    time(datetime="2015-05-05").
                      5
                  td.calendar__expired
                    time(datetime="2015-05-06").
                      6
                  td.calendar__expired
                    time(datetime="2015-05-07").
                      7
                  td.calendar__expired
                    time(datetime="2015-05-08").
                      8
                  td.calendar__expired
                    time(datetime="2015-05-09").
                      9
                  td.calendar__expired
                    a(href="#2015-05-10")
                      time(datetime="2015-05-10").
                        10
                tr
                  td.calendar__expired
                    time(datetime="2015-05-11").
                      11
                  td.calendar__expired
                    time(datetime="2015-05-12").
                      12
                  td
                    time(datetime="2015-05-13").
                      13
                  td
                    time(datetime="2015-05-14").calendar__date--today.
                      14
                  td
                    time(datetime="2015-05-15").
                      15
                  td
                    time(datetime="2015-05-16").
                      16
                  td
                    a(href="#2015-05-17")
                      time(datetime="2015-05-17").
                        17
                tr
                  td
                    time(datetime="2015-05-18").
                      18
                  td
                    time(datetime="2015-05-19").
                      19
                  td
                    time(datetime="2015-05-20").
                      20
                  td
                    time(datetime="2015-05-21").
                      21
                  td
                    time(datetime="2015-05-22").
                      22
                  td
                    time(datetime="2015-05-23").
                      23
                  td
                    a(href="#2015-05-24")
                      time(datetime="2015-05-24").
                        24
                tr
                  td
                    time(datetime="2015-05-25").
                      25
                  td
                    time(datetime="2015-05-26")
                      a(href="#2015-05-26").
                        26
                  td
                    time(datetime="2015-05-27")
                      a(href="#2015-05-27").
                        27
                  td
                    time(datetime="2015-05-28")
                      a(href="#2015-05-28").
                        28
                  td
                    time(datetime="2015-05-29").
                      29
                  td
                    time(datetime="2015-05-30")
                      a(href="#2015-05-30").
                        30
                  td
                    a(href="#2015-05-31")
                      time(datetime="2015-05-31").
                        31
          p
            a(href="/kalender").
              Andre datoer
        .menu-content__col.menu-content__col--large.menu-content__col--right.menu-content__spacing
          h2.
            Program for <time datatime="2015-05">Mai</time>
          section.calendar-list#2015-05-17(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-17").calendar-list__date.
              17. mai
            .calendar-list__content
              h3.
                Ord og Toner
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                «Ord og Toner» på Maihaugen er en tradisjon, og en hyggelig avslutning på nasjonaldagen i Lillehammer.
                Tale for dagen: Knut Korsæth
          section.calendar-list#2015-05-24(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-24").calendar-list__date.
              24. mai
            .calendar-list__content
              h3.
                Åpent fjøs
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Fjøset på Jørstad
              p.
                Kl. 12.00 - 14.00: Kom på besøk til dyra på Maihaugen! Nå har vi både kaninunger, grisunger og lamunger.
          section.calendar-list#2015-05-26(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-26").calendar-list__date.
              26. mai
            .calendar-list__content
              h3.
                Norsk Litteraturfestival - ÅPNINGSFORESTILLING
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                Bli med på en sanselig, humoristisk og poetisk reise hvor Norge og Kina, litteratur og andre kunstuttrykk møtes.
          section.calendar-list#2015-05-27(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-27").calendar-list__date.
              27. mai
            .calendar-list__content
              h3.
                Norsk Litteraturfestival - 4 FORFATTERE OG 1 BAND
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                Forfattermøter med Erlend Loe, Linnéa Myhre, Ingvar Ambjørnsen og Hans Olav Lahlum, og musikalsk innslag.
          section.calendar-list#2015-05-28(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-28").calendar-list__date.
              28. mai
            .calendar-list__content
              h3.
                Norsk Litteraturfestival - LITTERÆR FESTAFTEN
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                VI feirer litteraturen med en festaften viet litteratur i verdensklasse.
                Margaret Atwood, Sara Stridsberg, Vigdis Hjorth og Mathias Eick Trio!
          section.calendar-list#2015-05-30(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-30").calendar-list__date.
              30. mai
            .calendar-list__content
              h3.
                Norsk Litteraturfestival - URFRAMFØRING: STORE HVITE BOK
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                I 2015 fyller Egil Kapstad 75 år og Jan Erik Vold kan markere sitt 50-årsjubileum som forfatter!
                Norsk Litteraturfestival feirer begivenhetene med en urframføring av bestillingsverket Store hvite bok.
          section.calendar-list#2015-05-31(itemprop="event" itemscope itemtype="http://schema.org/Event")
            time(itemprop="startDate" datetime="2015-05-31").calendar-list__date.
              31. mai
            .calendar-list__content
              h3.
                Tjolahopp, tjolahei
              span.sidenote(itemprop="location" itemscope itemtype="https://schema.org/Place")
                span(itemprop="name").
                  Maihaugsalen
              p.
                Kl. 12.00-15.00: En hyllest til Astrid Lindgren og en feiring av Pippi som fyller 70 år i 2015.
