
.menu.highlight.sticky.js-sticky
  .language-switcher
    .language-switcher__constrained
      a(href="#")
        i.icon.icon--british-flag-24
        span.language-switcher__language(lang="en")
          |English

  nav.constrained(role="navigation" id="menu")
    ul.menu__list.menu__list--5
      li.menu__item
        a.js-menu-item(href="#menu-content")
          i.icon.menu__icon.menu__icon--menu
          span
            |Meny
      li.menu__item
        a(href="#{relativeRoot}maihaugen/hva-skjer/")
          i.icon.menu__icon.menu__icon--calendar
          span
            |Hva skjer
      li.menu__item
        a(href="#{relativeRoot}maihaugen/aapningstider/")
          i.icon.menu__icon.menu__icon--watch
          span
            |Åpningstider
      li.menu__item
        a(href="#{relativeRoot}maihaugen/kart/")
          i.icon.menu__icon.menu__icon--map
          span
            |Kart
      li.menu__item.menu__item--fifth
        a(href="")
          i.icon.menu__icon.menu__icon--press
          span
            |Presse
