mixin openingtimes
  .menu-content.js-menu-content#menu-openingtimes
    .constrained
      .box--outline
        h2.
          September &ndash; Mai (Lavsesong)

        .twoup
          .twoup__left
            .media
              .media__img
                i.icon.menu__icon--watch
              .media__bd
                h3.nomargin.
                  Åpningstid
                div.
                  Tirsdag &ndash; Søndag: 11:00 &ndash; 16:00<br>
                  Mandag: stengt<br>
                  <a href="/kalender">Se program</a>
                h4.
                  Stengt
                div.
                  1. januar, 1. mai, 17. mai, 24.-25. desember, 31. desember
          .twoup__right
            .media
              .media__img
                i.icon.menu__icon--ticket
              .media__bd
                h3.nomargin.
                  Biletter
                ul.pricelist
                  li
                    .pricelist__left.
                      Voksne
                    .pricelist__right.
                      110,-
                  li
                    .pricelist__left.
                      Barn (6 &ndash; 15 år)
                    .pricelist__right.
                      55,-
                  li
                    .pricelist__left.
                      Familie (barn under 16 år)
                    .pricelist__right.
                      275,-
                  li
                    .pricelist__left.
                      Honnør/Student
                    .pricelist__right.
                      90,-
      .box--outline
        h2.
          Juni &ndash; August (Høysesong)

        .twoup
          .twoup__left
            .media
              .media__img
                i.icon.menu__icon--watch
              .media__bd
                h3.nomargin.
                  Åpningstid
                div.
                  Mandag &ndash; Søndag: 11:00 &ndash; 17:00<br>
                  <a href="/kalender">Se program</a>
          .twoup__right
            .media
              .media__img
                i.icon.menu__icon--ticket
              .media__bd
                h3.nomargin.
                  Biletter
                ul.pricelist
                  li
                    .pricelist__left.
                      Voksne
                    .pricelist__right.
                      150,-
                  li
                    .pricelist__left.
                      Barn (6 &ndash; 15 år)
                    .pricelist__right.
                      75,-
                  li
                    .pricelist__left.
                      Familie (barn under 16 år)
                    .pricelist__right.
                      375,-
                  li
                    .pricelist__left.
                      Honnør/Student
                    .pricelist__right.
                      110,-

      .twoup
        .twoup__left
          h2.h4.
            Spesielle biletter
          ul.nolist
            li
              a(href="/biletter/skoler").
                Skoler
            li
              a(href="/biletter/grupper").
                Grupper
            li
              a(href="/biletter/julemarked").
                Julemarked
            li
              a(href="/biletter/omvisninger").
                Omvisninger
            li
              a(href="/biletter/fellesbillett").
                Fellesbillett
        .twoup__right
          h2.h4.
            Til informasjon
          p.
            Portene til friluftsmuseet er åpne hele året mellom 07:00 og 22:00, men stenges når friluftsmuseet er åpent med aktivitet. I sommersesongen bla bla.
