.mfp-hide.white-popup-block#js-newsletter-subscribe
  .modal(role="dialog" aria-labelledby="nl-modal-title")
    h2.modal__title#nl-modal-title Meld deg på vår nyhetsbrev
    .modal__body
      p(style="margin-bottom: 0.5em") Få fine nyheter på e-post fra oss godklumpene. Dette er en tekst som skal få deg til å gi fra deg e-postadressen til oss. Thank you please wery much.
      form.js-nl-modal-form#SubscriberForm(name="SubscriberForm" action="http://www.anpdm.com/public/process-subscription-form.aspx?formId=41435147764745594B7640" method="post" target="myIframe")
        div(style="margin-bottom: 0.5em")
          label.visuallyhidden(for="newsletter_email") E-postadresse
          input.js-nl-modal-input#newsletter_email(name="pf_Email" placeholder="E-postadresse" type="email" size="70" required)
        button.btn.btn--primary(type="submit" name="Submit") Meld på
        a.btn.btn--link.js-nl-modal-close(href="#") Nei takk
