@function highlight-svg($color) {
  $color-string: $color + unquote("");

  @return url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%3ClinearGradient%20id%3D%22grad-ucgg-generated%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22rotate(' + $degree + '%2C%2050%25%2C%2050%25)%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%220%25%22%3E%0A%20%20%20%20%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23' + str-slice($color-string, 2) + '%22%20stop-opacity%3D%221%22%2F%3E%0A%20%20%20%20%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%23ffffff%22%20stop-opacity%3D%220%22%2F%3E%0A%20%20%3C%2FlinearGradient%3E%0A%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23grad-ucgg-generated)%22%20%2F%3E%0A%3C%2Fsvg%3E');
}

@function highlight-svg-horizontal($color) {
  $color-string: $color + unquote("");
  @return url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%3ClinearGradient%20id%3D%22grad-ucgg-generated%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%220%25%22%3E%0A%20%20%20%20%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23' + str-slice($color-string, 2) + '%22%20stop-opacity%3D%221%22%2F%3E%0A%20%20%20%20%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23ffffff%22%20stop-opacity%3D%220%22%2F%3E%0A%20%20%3C%2FlinearGradient%3E%0A%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23grad-ucgg-generated)%22%20%2F%3E%0A%3C%2Fsvg%3E');
}

@mixin highlight($color) {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  //background: highlight-svg($color);
  background: linear-gradient(#{180 + $degree}deg,  rgba($color,1) 0%,rgba($white,1) 50%); /* W3C */

  //@if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  //}
}

@mixin highlight-grid($color, $invert: false) {
  $degree: 55;
  @if $invert {
    $degree: 180 + $degree;
  }

  background: $white;
  background: linear-gradient(#{$degree}deg,  rgba($color,1) 0%,rgba($white,1) 100%); /* W3C */
}

@mixin highlight-overlay-box($color, $invert: false) {
  $degree: 145;
  @if $invert {
    $degree: 35;
  }

  background: $color;
  background: linear-gradient(#{$degree}deg,  rgba($color,1) 0%,rgba($white,0.8) 100%); /* W3C */
}

@mixin highlight-horizontal($color) {
  background: linear-gradient(to right, $color 0%,rgba($white,0) 100%); /* W3C */

  //@if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
  //}
}

@mixin highlight-strong($color: $light-gray) {
  $left-color: darken($color, 15%);
  $middle-color: darken($color, 4%);
  $white-band: tint($color, 30%);
  $right-color: $white;

  background: $color; /* Old browsers */
  background: linear-gradient(125deg,  $left-color 0%,$middle-color 45%,$white-band 45%,$white-band 55%,$left-color 55%,$left-color 62%,$middle-color 62%,$right-color 100%); /* W3C */

  //@if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$left-color}', endColorstr='#{$right-color}',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  //}

}

@mixin highlight-footer($light-color: $light-gray, $dark-color: $gray) {
  $left-color: darken($light-color, 15%);
  $middle-color: darken($light-color, 4%);
  $white-band: tint($light-color, 30%);

  background: $light-color; /* Old browsers */

  background: linear-gradient(125deg,  $left-color 0%,$middle-color 45%,$white-band 45%,$white-band 50%,$left-color 50%,$left-color 53%,$middle-color 53%, $light-color 58%, $dark-color 58%, $dark-color 100%); /* W3C */

  //@if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$left-color}', endColorstr='#{$dark-color}',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  //}

}
