extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/postmuseet.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/postmuseet-oldIE.css')

block header
  mixin header('norges-postmuseum.png', relativeRoot + "postmuseet/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/postmuseet.ico")
