/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* normalize.scss v2.1.3 | MIT/GPLv2 License | bit.ly/normalize-with-compass */


// =============================================================================
// Variables and Imports
//
// If you have a base partial (or equivalent), you should move these lines to
// that file. @see http://compass-style.org/help/tutorials/best_practices/
// =============================================================================

// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true !default;

// The default font family.
$base-font-family: sans-serif !default;

// The base font size.
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1rem + $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        *display: inline;
        *zoom: 1;
    }
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Lets .menu-content overlay cover entrie screen
 * 2. Set default font family to sans-serif.
 * 3. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 4. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */

html {
    position: relative; /* 1 */
    min-height: 100%;   /* 1 */
    font-family: $base-font-family; /* 2 */
    font-size: 100% * ($base-font-size / 16px); /* 4 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */

    @include adjust-leading-to(3);

    @include breakpoint(max-width $medium - 1px) {
        @include adjust-font-size-to(14px, 3);
    }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    /**
     * Address `font-family` inconsistency between `textarea` and other form
     * elements.
     */

    button,
    input,
    select,
    textarea {
        font-family: $base-font-family;
    }
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    background-color: $white;
    color: $black;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
    color: $link;
    text-decoration: underline;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a:visited {
    color: $link-visited;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */

p,
pre,
.p {
  margin: rhythm(2) 0;
}

h2 + p,
h3 + p {
    margin-top: 0;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

%header-style {
    font-family: $base-font-family-sans-serif;
    color: $black;
}

h1,
.h1 {
    @extend %header-style;

    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;

    @include adjust-font-size-to(32px, 4);

    @include breakpoint($breakpoint-medium) {
        @include adjust-font-size-to($h1-font-size);
    }
}

h2,
.h2 {
    @extend %header-style;

    font-weight: bold;
    font-size: calc(1rem + 2px);
    line-height: calc(1rem + 0.33em);
    margin-bottom: 0;
}


h3,
.h3 {
    @extend %header-style;

    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
}

h4,
.h4 {
    font-weight: bold;

    @include adjust-font-size-to( $h4-font-size );
    @include leader(2, $h4-font-size);
    @include trailer(1, $h4-font-size);
}

h5,
.h5 {
    font-style: italic;

    @include adjust-font-size-to( $h5-font-size );
    @include leader(2, $h5-font-size);
    @include trailer(1, $h5-font-size);
}

h6,
.h6 {
    @include adjust-font-size-to( $h6-font-size );
    @include leader(2, $h6-font-size);
    @include trailer(1, $h6-font-size);
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    margin: rhythm(4) 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $gray;
    height: 0;
    box-sizing: content-box;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    @if $legacy-support-for-ie6 {
        _font-family: 'courier new', monospace;
    }
    @if $strict-normalize {
        font-size: 1em;
    }
    @else {
        @include adjust-font-size-to( $base-font-size );
    }
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    @else {
        white-space: pre-wrap;
    }
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

ul {
    list-style-type: square;
}

ul.nostyle {
    padding-left: 0;
    list-style: none;
}

@if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    /**
     * Address margins set differently in IE 6/7.
     */

    dl,
    menu,
    ol,
    ul {
        margin: rhythm(1) 0;
    }

    @if not $strict-normalize {
        ol,
        ul {
            ol,
            ul {
                margin: 0;
            }
        }
    }

    dd {
        margin: 0 0 0 $indent-amount;
    }

    /**
     * Address paddings set differently in IE 6/7.
     */

    menu,
    ol,
    ul {
        padding: 0 0 0 $indent-amount;
    }
}

@if $legacy-support-for-ie7 {
    /**
     * Correct list images handled incorrectly in IE 7.
     */

    nav ul,
    nav ol {
        list-style: none;
        list-style-image: none;
    }
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
    @if $legacy-support-for-ie7 {
        /* Improve image quality when scaled in IE 7. */
        -ms-interpolation-mode: bicubic;
    }
    width: auto;
    max-width: 100%;
    height: auto;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Forms
   ========================================================================== */

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    /**
     * Correct margin displayed oddly in IE 6/7.
     */

    form {
        margin: 0;
    }
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        vertical-align: baseline; /* 4 */
        *vertical-align: middle; /* 4 */
    }
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    padding: rhythm(1, $base-font-size, 1);
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    @if $legacy-support-for-ie7 {
        *overflow: visible; /* 4 */
    }
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    @if $legacy-support-for-ie7 {
        *height: 13px; /* 3 */
        *width: 13px; /* 3 */
    }
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: border-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
