$blockquote-font-size: 24px;

blockquote {
  margin: rhythm(4, $blockquote-font-size) 0;
  border-left: 2px solid $gray;
  padding-left: rhythm(4, $blockquote-font-size);

  @include adjust-font-size-to($blockquote-font-size, 4);


  cite {
    display: block;
    font-style: italic;

    @include adjust-font-size-to(16px, 3, $blockquote-font-size);
  }
}
