$input-text-types: text search password email number !default;

@mixin input-text($font-size: $base-font-size) {
  display: block;
  padding: 0 rhythm(1, $font-size, 1);
  height: rhythm(5, $font-size, 2);
  border: 1px solid $gray-btn-border;
  border-radius: 0;
  background-color: $white;
  max-width: 100%;

  font-family: $base-font-family-sans-serif;
  -webkit-appearance: none;

  @include adjust-leading-to(3);

  &:hover,
  &:focus {
    border-color: $blue;
    background-color: lighten($white, 5%);
  }

  &:focus {
    outline: 1px solid $blue;
  }

  @include breakpoint(max-width $medium - 1px) {
    @include adjust-font-size-to($base-font-size, 3, 14px);

    .footer & {
      @include adjust-font-size-to($base-font-size, 3, 12px);
    }
  }
}

%input-text {
  @include input-text;
}

%input-text-fullwidth {
  width: 100%;

  box-sizing: border-box;
}

@each $input-text-type in $input-text-types {
  input[type="#{$input-text-type}"] {
    @extend %input-text;
  }
}

// Use if IE6 support is needed
// IE6 does not support CSS-type selectors
// Requires ".input-text"-class to be added in markup
@if $legacy-support-for-ie6 {
  .input-text {
    @extend %input-text;
  }
}

input[type="date"] {
  display: block; /* Fix algnment issue */

  @include breakpoint(max-width $medium - 1px) {
    height: 1.6875em;

    @include adjust-font-size-to($base-font-size, 3, 14px);
  }
}

input[size='70'] {
  @extend %input-text-fullwidth;
}
