/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend,
.legend {
  display: block;
  border: 0; /* 1 */
  padding: 0; /* 2 */
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *margin-left: -7px; /* 3 */
  }

  @include breakpoint(max-width $large - 1px) {
    @include adjust-font-size-to(14px, 2);
  }
}
