$article-intro-font-size: 24px;
$article-intro-font-size-mobile: 18px;

.article {

  @include susy-breakpoint($large, $susy-large, $no-query: true) {
    margin-right: -#{gutter()};
    margin-left: -#{gutter()};
  }
}

  .article__intro {
    margin: 0 0 rhythm(2, $article-intro-font-size-mobile);
    color: $gray;

    @include adjust-font-size-to($article-intro-font-size-mobile, 3);

    @include breakpoint($medium) {
      margin: 0 0 rhythm(2, $article-intro-font-size);
      @include adjust-font-size-to($article-intro-font-size, 4);
    }

    p:first-child {
      margin-top: 0;
    }
  }

  .article__intro,
  .article__body {

    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: left;
      margin-left: gutter();
      width: span(8);
    }
  }

    .article__pull-right {
      @include susy-breakpoint($medium, $susy-large, $no-query: true) {
        float: right;
        clear: right;
        width: span(6);
        margin-left: gutter() + gutter();
        box-sizing: border-box;
      }

      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        @include nested(8) {
          //margin-right: -#{span(4) + gutter() + gutter()};
          //margin-left: 0;
          width: span(4);
        }
      }
    }

    .article__pull-left {
      @include susy-breakpoint($medium, $susy-large, $no-query: true) {
        float: left;
        clear: left;
        width: span(6);
        margin-right: gutter() + gutter();
        box-sizing: border-box;
      }

      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        @include nested(8) {
          margin-right: gutter() + gutter();
          width: span(4);
        }
      }
    }

    .article__pull- {
      @include susy-breakpoint($medium $large - 1px, $susy-large) {
        clear: both;
      }
    }

  .article__right-col {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: right;
      width: span(4);
    }
  }

  .article__content-left {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: left;
      width: span(6);

      .article & {
        margin-left: gutter();
      }
    }

/*     @include susy-breakpoint(87.5em, $susy-large, $no-query: true) {
      margin-left: -#{span(2) + gutter()};
      width: span(8);
    } */
  }

  .article__content-right {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: right;
      margin-right: gutter();
      width: span(6);

      .article & {
        margin-right: gutter();
      }
    }

/*     @include susy-breakpoint(87.5em, $susy-large, $no-query: true) {
      margin-right: -#{span(2) + gutter()};
      width: span(8);
    } */
  }

  .article__content-left,
  .article__content-right {
    @include breakpoint($medium) {
      h2:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint($large, $no-query: true) {
      .article__pull-right {
        margin-right: 0;
        margin-left: rhythm(2);
      }
    }
  }
