.banner {
  position: relative;
  z-index: 1000;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    width: calc((100% - 1024px)/2);
    height: 100%;

    @include highlight-strong($light-gray);
  }
}

  .banner__content {
    position: relative;
  }
