.box {
  margin: rhythm(4) 0;
  padding: rhythm(2);
  background-color: $light-gray;

  &:first-child {
    margin-top: 0;
  }
}

.box--outline {
  margin: rhythm(4) 0;
  border: 2px solid $light-gray;
  padding: rhythm(2, $base-font-size, 2);

  &:first-child {
    margin-top: 0;
  }
}
