.breadcrumb {
  @extend %clearfix;

  display: table; /* IE negative margin hack */
  margin-top: rhythm(2);
  margin-right: -#{rhythm(2)};
  margin-bottom: -#{rhythm(6)};
  margin-bottom: -#{rhythm(3)}\9; /* IE < 9 margin size bugfix */
  margin-left: -#{rhythm(3)};
  padding: 0;
  list-style: none;
  font-family: $base-font-family-small;

  @include adjust-font-size-to($base-font-size--small, 3);

  @include breakpoint(max-width $medium - 1px) {
    @include adjust-font-size-to(9px, 3, 14px);
  }
}

  .breadcrumb__item {
    position: relative;
    float: left;
    margin: 0 rhythm(2) 0 rhythm(3);
    color: $gray;

    &:before {
      content: "";
      position: absolute;
      left: -2.1em;
      top: 0;

      @include sprite(slash-gray-24);

      @include breakpoint($medium, $no-query: true) {
        left: -1.9em;
      }
    }

    &:first-child:before {
      display: none;
    }

    a,
    a:visited {
      color: $gray;
    }
  }
