$btn-font-size: 20px;

button,
.btn {
  display: inline-block;
  border: 0;
  padding: rhythm(1, $btn-font-size) rhythm(2, $btn-font-size);
  text-decoration: underline;
  text-transform: uppercase;
  transition: background 0.5s;

  @include highlight-horizontal($light-gray);
  @include adjust-font-size-to($btn-font-size);

  &,
  &:visited {
    color: $black;
  }

  &:hover {
    background-color: $light-gray;
  }

  &:focus {
    outline: 1px solid $gray;
  }
}

.btn--primary {
  background: $gray;

  &,
  &:visited {
    color: $white;
  }
}

.btn--disabled {
  cursor: default;

  &:hover,
  &:focus {
    border-color: $gray-btn-border;
  }

  @include opacity(.3);

}

.btn--primary.btn--disabled {
  &:hover,
  &:focus {
    border-color: $blue;
  }
}

.btn--fullwidth {
  display: block;
}

.btn--large {
  $btn--large-font-size: 28px;

  padding: rhythm(2, $btn--large-font-size, 1);

  @include adjust-font-size-to($btn--large-font-size, 3);
}

.btn--link {
  &,
  &:hover {
    background: transparent !important;
  }
}
