.calendar-list {
  @extend %clearfix;

  display: block;
  margin-top: rhythm(2);
  border-bottom: 2px solid $light-gray;
  padding-bottom: rhythm(2, $base-font-size, 2);

  @include overflowhidden;
}

  .calendar-list__date {
    float: left;
    margin-top: rhythm();
    width: 7em;
  }

  .calendar-list__content {
    display: block;
    @include overflowhidden;

    h3, p {
      margin: 0;
    }
  }
