.calendar-item {
  margin-bottom: rhythm(8);
  text-transform: uppercase;
  text-decoration: none;

  &,
  &:visited {
    color: $black;
  }
}

  .calendar-item__date {
    display: block;
  }

    .calendar-item__date__day {

      @include adjust-font-size-to(44px);
    }

    abbr.calendar-item__date__month {
      border-bottom: 0;
    }

  .calendar-item__title {
    display: block;
    text-decoration: underline;
    font-weight: 700;
  }

  .calendar-item__text {
    @include adjust-font-size-to(13px);
  }
