.calendar {
  border: 2px solid $gray;

  text-align: center;

  table, th, td {
    border: 0;
    padding: 0;
  }

  abbr {
    border-bottom: 0;
    padding: rhythm();
  }

  td a {
    display: block;
  }

  td time {
    display: block;
    margin: 0 auto;
    padding: rhythm();
    width: rhythm(3);
  }

  td .calendar__date--today {
    padding: rhythm(1, $base-font-size, 2);
    border: 2px solid $gray;
    border-radius: 100px;
  }

  table {
    width: 100%;
  }

  caption {
    margin-top: rhythm(2, $h3-font-size);
    text-align: center;
  }
}

  .calendar__expired {

    @include calendar-shade($light-gray);
  }
