.datepicker {
  background-color: $white;
}

  input.datepicker__input {
    position: relative;
    z-index: 2;

    &[type="text"] {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  %datepicker__icon {
    position: relative;
    float: right;
    margin-top: -#{rhythm(4)};
    margin-right: rhythm();
    z-index: 1;

    @include sprite('calendar-gray-24');

    @include breakpoint(max-width $medium - 1px) {
      margin-top: -#{rhythm(4, 14px)};
    }
  }

  .datepicker__input[type="text"] + .datepicker__icon {
    @extend %datepicker__icon;
  }

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie7 {
    .datepicker__icon {
      @extend %datepicker__icon;
    }
  }

