.feature {
  position: relative;
  z-index: 100;
}
.feature--space {
  margin-bottom: rhythm(2);
}

  .feature__img {
    position: relative;
    text-align: center;
    line-height: 0;

    @include breakpoint($medium, $no-query: true) {
      top: -6em;
      margin-bottom: -#{rhythm(12)};
    }

    @include breakpoint($large, $no-query: true) {
      margin-bottom: -#{rhythm(30)};
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url('../img/grid.png') 50% 0 no-repeat;
    }

    img {
      position: relative;
      display: inline-block;
    }
  }

    .feature__img__caption {
      position: relative;
      margin: rhythm(0.5, 12px) rhythm(2, 12px);
      max-width: 1600px;
      background: transparent;
      text-align: left;
      z-index: 100;

      @include breakpoint(1632px) {
        margin-right: auto;
        margin-left: auto;
        max-width: 1600px;
        text-align: right;
      }
    }

      .feature__img__caption__text {
        @include susy-breakpoint($large 999px, $susy-large) {
          position: absolute;
          right: 0;
          float: right;
          width: span(4);
          text-align: right;
        }

        @include susy-breakpoint(1000px, $susy-large, $no-query: true) {
          position: absolute;
          right: 0;
          float: right;
          width: 35%;
          text-align: right;
        }
      }

  .feature__content {
    overflow: hidden;
    clear: left; /* Fix FF clearing issue w/overflow hidden */
  }

    .feature__title {
      position: relative;
      float: left;
      margin: 0;
      background-color: $white;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $white;
      }

      .feature__img + .feature__content &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -178px;
        border-style: solid;
        border-width: 256px 0 0 178px;
        border-color: transparent transparent transparent $white;
        width: 0;
        height: 0;
        line-height: 0px;

        @if $legacy-support-for-ie6 {
          _border-color: #000000 #000000 #000000 $white;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
      }

      @include breakpoint($medium, $no-query: true) {
        min-height: 150px;
      }

      @include susy-breakpoint($large, $susy-large) {
        float: left;
        width: span(10);
      }

      @include susy-breakpoint(1000px, $susy-large, $no-query: true) {
        width: 59%;
        //width: span(8);
      }
    }

      .feature__title__content {
        position: relative;
        float: left;
        clear: left;
        margin: rhythm(8, $h1-font-size) 0 rhythm(6, $h1-font-size);

        &:before {
          content: "";
          position: absolute;
          top: -#{rhythm(2, $h1-font-size)};
          left: 0;
          border-radius: 4px;
          width: 50%;
          height: 0.08333333333333em;
          background-color: $black;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -#{rhythm(2, $h1-font-size)};
          left: 0;
          border-radius: 4px;
          width: 50%;
          height: 0.125em;
          background-color: $black;
        }
      }

      a.feature__title__content {
        text-decoration: none;
        color: $black;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        // &:before,
        // &:after {
        //   background-color: $link;
        // }

        // &:visited {
        //   &:before,
        //   &:after {
        //     background-color: $link-visited;

        //   }
        // }
      }

      /*
       * 1. So that the white triangle does not overlay
       */

      .feature__intro {
        position: relative; /* 1 */
        color: $gray;

        @include adjust-font-size-to(18px);

        @include breakpoint($medium) {
          margin: rhythm(2, 36px) 0;

          @include adjust-font-size-to(24px, 4);
        }
      }
