.files {
  padding-left: 32px;
  list-style: none;

  li {
    margin: rhythm() 0;

    &:before {
      content: " ";
      margin-right: 8px;
      margin-left: -32px;
      vertical-align: middle;

      @include inline-block;
      @include sprite(file-gray-24);
    }
  }
}

.files--download {

  li:before {
    @include sprite-icon(download-file-gray-24);
  }
}
