.filter {
  position: relative;
  z-index: $index-menu + 1;
  margin-bottom: rhythm(3);
}

.filter__field {
  display: none;
  margin: 0 0 rhythm() 1px;

  @include breakpoint($large, $no-query: true) {
    display: block;
  }
}

.filter__field-mobile {
  margin: 0 rhythm(2) rhythm() 0;

  @include inline-block;

  @include breakpoint($large, $no-query: true) {
    display: none;
  }
}


  .filter__select-label {
    display: block;

    @include adjust-font-size-to(14px, 2);
  }

  // Use media queries to fall back to normal form elms on older browsers
  @media only screen {
    .filter__input {
      @if not $legacy-support-for-ie6 and not $legacy-support-for-ie7 and not $legacy-support-for-ie8 {
        @include visuallyhidden;
      }
    }

    .filter__label {
      float: left;
      margin-left: -1px;
      border: 1px solid $light-gray;
      padding: rhythm(1, $base-font-size, 1) rhythm(2);
      cursor: pointer;
      user-select: none;
    }

    .filter__input:checked + .filter__label {
      position: relative;
      border-color: $gray;
      background: $gray;
      color: $white;
    }

    .filter__input[disabled] + .filter__label {
      cursor: default;

      @include opacity(0.3);
    }
  }
