$footer-font-size: 14px;

.footer {
  padding: rhythm(6, $footer-font-size) 0 rhythm(8, $footer-font-size);

  @include highlight-footer;
  @include adjust-font-size-to($footer-font-size, 2);

  p {
    margin: rhythm(1, $footer-font-size) 0;
  }

  a {
    &,
    &:visited {
      color: $black;
    }
  }
}

  .footer__content {

    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      margin-right: -#{gutter()};
      margin-left: -#{gutter()};
    }
  }

    .footer__col {

      @include susy-breakpoint($large, $susy-large, $no-query: true) {

        @include span(3);
      }
    }

    .footer__col--last {

      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        float: right;
      }
    }

    .footer__logo {
      text-align: right;
    }

    .footer__title {
      margin-top: 0;
      margin-bottom: rhythm(3, $footer-font-size);
      font-size: 1em;
      text-transform: uppercase;
    }

    .footer__email-input {
      box-sizing: border-box;
      width: 100%;

      @include breakpoint($medium $large) {
        width: 50%;
      }
    }
