$grid-item-title-font-size: 20px;

.grid {
  position: relative;

  @include susy-breakpoint($medium, $susy-large, $no-query: true) {
    margin: #{'-' + rhythm(2)} #{'-' + rhythm()};
  }
}

  .grid__item {
    margin: rhythm(2) 0;

    @include breakpoint(max-width $medium - 1px) {
      margin-bottom: rhythm(4);
    }

    @include susy-breakpoint($medium, $susy-large) {
      @include gallery(6);
    }

    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      @include gallery(4);
    }

    p {
      margin: rhythm() 0;
    }

    p:first-child,
    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .grid__item--3 {

    @include susy-breakpoint($medium, $susy-large) {
      @include gallery(6);
    }
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      @include gallery(3);
    }
  }

  .grid__item--6 {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      @include gallery(6);
    }
  }

  .grid__item--6.grid__item--center {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: none;
      margin: 0 auto;
      width: span(6);
    }
  }

  .grid__item--12,
  .grid__item.grid__item--12 {
    @include susy-breakpoint($medium, $susy-large, $no-query: true) {
      @include gallery(12);
    }
  }

  .grid__item--first,
  .grid__item--last {

    @include breakpoint($large, $no-query: true) {
      .grid__item__img {
        width: 145%;
        max-width: 145%;
      }
    }
  }

  .grid__item--first {

    @include breakpoint($large, $no-query: true) {
      .grid__item__img {
        margin-left: -45%;
      }
    }

    .grid__item__img-container {

      &:before {
        content: " ";
      }

    }
  }

  .grid__item--last {

    @include breakpoint($large, $no-query: true) {
      .grid__item__img {
        margin-right: 45%;
      }
    }

    .grid__item__img-container {

      &:after {
        content: " ";
      }
    }
  }

    .grid__item__img-container {
      position: relative;

      &:before,
      &:after {
        display: block;
        position: absolute;
        top: 0;
        width: 500px;
        height: 100%;
        transform: skew(325deg);


        @include breakpoint($medium, $no-query: true) {
          width: calc((100vw - 275%) / 2);
        }
      }

      &:before {
        right: 100%;
        border-right: 28px solid $white;

        @include highlight-grid($light-gray);
      }

      &:after {
        left: 100%;
        border-left: 28px solid $white;

        @include highlight-grid($light-gray, true);
      }

    }

      .grid__item__img {
        display: block;
      }

    .grid__item__icon {
      margin-top: rhythm(2);
    }

    .grid__item__title {
      margin: rhythm(2, $grid-item-title-font-size) 0 0;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;

      @include adjust-font-size-to($grid-item-title-font-size);
    }
      .grid__item__title__link {
        display: block;
        padding: rhythm(1, $grid-item-title-font-size) rhythm(2, $grid-item-title-font-size);
        transition: background 0.5s;

        @include highlight-horizontal($light-gray);

        &:hover,
        &:focus,
        .grid__item:hover & {
          background-color: $light-gray;
        }

        &,
        &:visited {
          color: $black;
        }
      }


