.hashlist {
  padding: 0;
  list-style: none;

  li {
    @extend %inline-block;

    margin-right: rhythm();

    &:last-child {
      margin-right: 0;
    }
  }
}

  .hashlist__char {
    color: $light-gray;
  }
