// Create an array of icons that you want to create icon classes for
// Each icon need to have a file placed in
// 1. images/sprite/@1x/
// 2. images/sprite/@2x/
//
// List the file name without file extension in the $icons array
// my-icon.png => my-icon
// my-other-icon.png => my-other-icon
//
// $icons: (
//    my-icon,
//    my-other-icon
//  )
//
// It can be smart to keep a naming system for icon color and size, ie.
// my-icon-blue-24 (icon blue 24px height)
// my-icon-gray-16 (icon gray 16px height)

$icons: (
  // caret-down-black-24,
  // caret-down-white-24
  slm-logo-white,
  facebook-32,
  instagram-32,
  tripadvisor-logo-32,
  chevron-left-black-24,
  chevron-right-black-24,
  chevron-up-white-24,
  british-flag-24,
  german-flag-24,
  norwegian-flag-24
);

%icon {
  display: inline-block;
  vertical-align: middle;

  @include sprite-bg;
}

.icon {
  @extend %icon,
}

.icon--right {
  float: right;
}

@each $icon in $icons {
  .icon--#{$icon} {
    @extend %icon;

    @include sprite-icon($icon);
  }
}
