@keyframes fadeout {
  0% {
    background-color: $light-gray;
  }

  75% {
    background-color: $light-gray;
  }

  100% {
    background-color: transparent;
  }
}

.img-list {
  &:focus {
    outline: 0;
    animation-duration: 3s;
    animation-name: fadeout;
  }
}
