$language-switcher-breakpoint: 1200px;

.language-switcher {
  position: relative;
  z-index: 100000;
  text-align: right;
}

  .language-switcher__constrained {
    margin: 0 auto;
    padding: 0 rhythm(2);

    @include breakpoint($language-switcher-breakpoint) {
      position: absolute;
      top: rhythm(3);
      right: 0;
    }
  }

    .language-switcher__language {
      margin-left: rhythm(0.5);

      @include breakpoint(1200px, $no-query: true) {
        display: none;
      }
    }
