.logo {
  position: relative;
  display: block;
  margin-right: -#{rhythm(2)};
  margin-left: -#{rhythm(2)};
  padding: 0 rhythm(2);
  background-color: $gray;

  @include breakpoint($medium, $no-query: true) {

    float: left;
    margin: 0;
    padding: 0 rhythm(7);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -4.1875em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6em 4.1875em 0 0;
      border-color: $gray transparent transparent transparent;
      line-height: 0px;

      @if $legacy-support-for-ie6  {
        _border-color: $gray #000000 #000000 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -4.1875em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 6em 4.1875em;
      border-color: transparent transparent $gray transparent;
      line-height: 0px;

      @if $legacy-support-for-ie6  {
        _border-color: #000000 #000000 $gray #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      }
    }

  }

  img {
    display: block;
  }
}
