.menu-content {
  padding-top: rhythm(12);
  box-sizing: border-box;

  @include breakpoint(1200px, $no-query: true) {
    padding-top: rhythm(9);
  }

  &--has-js {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $white;
    background-color: rgba($white, 0.95);
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    z-index: $index-menu + 5;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
      top: -100%;
    }
  }

  &--animate {
    transition: transform 0.2s;
  }

  &--active {
    overflow: visible;
    transform: translate(0, 0);

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
      top: 0;
    }
  }

  h2:first-child {
    margin-top: rhythm(2, $h2-font-size);
  }
}

  .menu-content__spacing {
    position: relative;
    margin: rhythm(2) 0;

    @include breakpoint($large, $no-query: true) {
      margin: rhythm(6) 0;
    }
  }

  .menu-content__menu-row {
    @include susy-breakpoint($medium, $susy-large, $no-query: true) {
      margin-right: -#{gutter()};
      margin-left: -#{gutter()};
    }
  }

  .menu-content__row {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      margin-right: -#{gutter()};
      margin-left: -#{gutter()};
    }
  }

    .menu-content__links {
      margin: 0;
      padding: 0;
      list-style: none;

      @include susy-breakpoint($medium, $susy-large) {
        @include gallery(6);
      }

      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        @include gallery(3);
      }
    }

      .menu-content__links__item {
        margin: rhythm(2) 0;

        &:first-child {
          margin-top: 0;
        }
      }

        .menu-content__links__link {
          @include adjust-font-size-to($h2-font-size);
        }

        .menu-content__links__sublinks,
        .menu-content__links__sublinks__sublinks {
          padding-left: rhythm(2);
          list-style: none;
        }

          .menu-content__links__sublinks__item {
            margin: rhythm() 0;
          }

            .menu-content__links__sublinks a {
              @include breakpoint(max-width $large - 1px) {
                display: inline-block;
                padding: rhythm() 0;
              }
            }

  .menu-content__col {
    @include susy-breakpoint($large, $susy-large, $no-query: true) {
      float: left;
      margin-right: gutter();
      margin-left: gutter();

      &--right {
        float: right;
      }
    }
  }

    .menu-content__col--small {
      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        width: span(5);
      }

      @include susy-breakpoint(1000px, $susy-large, $no-query: true) {
        width: span(4);
      }
    }

    .menu-content__col--large {
      @include susy-breakpoint($large, $susy-large, $no-query: true) {
        width: span(7);
      }
    }
