.menu {
  position: relative;
  z-index: $index-menu + 10;
}

  .menu__list {
    margin-top: 0;
    margin-right: -#{gutter()};
    margin-bottom: 0;
    margin-left: -#{gutter()};
    padding: 0;
    list-style: none;

    @include susy-breakpoint($medium, $susy-large, $no-query: true) {
      margin-right: -#{gutter()};
      margin-left: -#{gutter()};
    }
  }

    .menu__item {
      text-align: center;

      @include span(1);

      @include susy-breakpoint($medium, $susy-large, $no-query: true) {
        @include span(3);

        .menu__list--5 & {
          @include span(2.4);
        }
      }

      a {
        display: block;
        padding: rhythm() 0;
        text-decoration: none;
        transition: background-color 0.5s;

        &,
        &:visited {
          color: $black;
        }

        &:hover,
        &:focus {
          background-color: $light-gray;
        }
      }
    }

    .menu__item--fifth {
      display: none;

      @include breakpoint($medium) {
        display: block;
      }
    }

      .menu__item__link--active {

        .icon {
          @include sprite-icon(menu-close-gray-24);
        }
      }

        .menu__icon {
          display: block;
          margin: 0 auto rhythm();

          &--menu {
            @include sprite-icon(menu-gray-24);
          }

          &--calendar {
            @include sprite-icon(calendar-gray-24);
          }

          &--watch {
            @include sprite-icon(watch-gray-24);
          }

          &--map {
            @include sprite-icon(map-gray-24);
          }

          &--ticket {
            @include sprite-icon(ticket-filled-gray-24);
          }

          // For Maihaugsalen
          &--programme {
            @include sprite-icon(programme-blue-24);
          }

          &--organizer {
            @include sprite-icon(organizer-blue-24);
          }

          &--info {
            @include sprite-icon(info-blue-24);
          }

          &--contact {
            @include sprite-icon(contact-blue-24);
          }

          // For SLM
          &--paper {
            @include sprite-icon(paper-gray-24);
          }
          &--person-search {
            @include sprite-icon(person-search-gray-24);
          }
          &--email {
            @include sprite-icon(email-filled-gray-24);
          }
          &--building {
            @include sprite-icon(building-gray-24);
          }
        }
