.mfp-content {
  background-color: $white;
  max-width: 31em;
}

.mfp-close-btn-in .mfp-close {
  color: $white;
  width: rhythm(6, 28px);
  height: rhythm(6, 28px);
  background-color: shade($gray, 20%);

  @include adjust-leading-to(6, 28px);

  &:focus {
    outline: none;
  }

  &:active {
    top: 0;
  }
}

.mfp-close-btn-in .mfp-iframe-holder .mfp-close {
  background-color: transparent;

  &:active {
    top: -40px;
  }
}


  .modal__title {
    margin: 0;
    padding: rhythm(1, 24px);
    background-color: $gray;
    color: $white;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3334em;

    @include breakpoint(max-width $medium - 1px) {
      font-size: 1.71429em; /* Compensate for body fontsize 14px */
    }
  }

  .modal__body {
    padding: rhythm();
  }
