.overlay-box {
  position: relative;
  display: block;
  margin-top: -#{rhythm(7)};
  margin-right: auto;
  margin-left: auto;
  padding: rhythm() rhythm(8);
  width: rhythm(27);
  max-width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(35deg);

    @include highlight-overlay-box($light-gray);
  }
}

.overlay-box--invert {

  @include breakpoint($large, $no-query: true) {
    position: absolute;
    top: 50%;
    right: rhythm(10);
  }

  &:after {
    transform: skew(325deg);

    @include highlight-overlay-box($light-gray, true);
  }
}

  .overlay-box__content {
    position: relative;
    z-index: 1000;
  }
