.pagination {
  margin: rhythm(2) 0;
  overflow: hidden;

  //@include media__bd;
}

  .pagination__pages {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

//  .pagination__pages-mobile {
//    margin: rhythm() 0;
//    overflow: hidden;
//    text-align: center;
//
//    @include breakpoint($large, $no-query: true) {
//      display: none;
//    }
//  }

    .pagination__page {
      display: none;

      &:first-child {
        display: block;
        float: left;
        margin-right: rhythm();

        .icon {
          margin: -4px rhythm(1) 0 0;
        }
      }

      &:last-child {
        display: block;
        float: right;
        margin-left: rhythm();

        .icon {
          margin: -4px 0 0 rhythm(1);
        }
      }

      @include breakpoint($large, $no-query: true) {
        display: inline-block;
      }
    }

      .pagination__page__link {
        padding: rhythm(1, $base-font-size, 1) rhythm(2);

        @include inline-block;

        &--active {

          &,
          &:hover,
          &:focus,
          &:visited,
          &:visited:hover,
          &:visited:focus {
            background-color: $light-gray;
            outline: 0;
            color: $black;
            text-decoration: none;
          }
        }
      }
