.pricelist {
  @extend %clearfix;

  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    width: 100%;
  }
}

  .pricelist__left {
    float: left;
  }

  .pricelist__right {
    float: right;
  }
