.scroll-up {
  position: fixed;
  opacity: 0;
  padding: rhythm(2);
  right: rhythm(2);
  bottom: rhythm(2);
  border-radius: 200px;
  background-color: $gray;
  transition: opacity 0.3s;

  &--visible {
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

  .icon {
    display: block;
  }
}
