  .search {
    position: relative;
  }

    input.search__field {
      border: 2px solid $gray;
      padding-right: rhythm(7.5);
      padding-right: calc(24px + #{rhythm(4.5)});
      width: 100%;
      transition: box-shadow 0.3s;

      &:focus {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      }
    }

    .search__btn {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: rhythm(1, 20px, 2) rhythm(2, 20px, 2) rhythm(1, 20px, 2) rhythm(2, 20px);
      background: transparent;

      &:hover,
      &:focus {
        background: $light-gray;
      }

      &:focus {
        outline: none;
      }
    }

      .search__icon {
        display: block;

        @include sprite-icon('search-t-gray-24');
      }
