.search-result {
  padding: 0;
  list-style: none;
}

  .search-result__item {
    border-top: 1px solid $light-gray;
    padding: rhythm(4) 0;

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }

    .constrained {
      &:before,
      &:after {
        content: none;
      }
    }
  }

  .search-result__item--small {
    padding: rhythm(2) 0;
  }

  .search-result__item__title {
    @extend h2;

    margin: 0 0 rhythm(1, $h2-font-size);
  }

  .search-result__item__intro,
  .search-result__item__extra {
    margin: rhythm() 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
