.spacing--top {
  margin-top: rhythm(2);
  padding-top: rhythm(2);

  @include breakpoint($medium) {
    margin-top: rhythm(4);
    padding-top: rhythm(4);
  }

  @include breakpoint($large, $no-query: true) {
    margin-top: rhythm(6);
    padding-top: rhythm(6);
  }
}

.spacing--top.spacing--bg-left,
.spacing--top.spacing--bg-right {
  margin-top: 0;
  padding-top: rhythm(4);

  @include breakpoint($medium) {
    margin-top: 0;
    padding-top: rhythm(8);
  }

  @include breakpoint($large, $no-query: true) {
    margin-top: 0;
    padding-top: rhythm(12);
  }
}

.spacing--bottom {
  margin-bottom: rhythm(2);
  padding-bottom: rhythm(2);

  @include breakpoint($medium) {
    margin-bottom: rhythm(4);
    padding-bottom: rhythm(4);
  }

  @include breakpoint($large, $no-query: true) {
    margin-bottom: rhythm(6);
    padding-bottom: rhythm(6);
  }
}

.spacing--top-border {
  border-top: 1px solid $light-gray;
}

.spacing--bg-left {
  background: transparent url('../img/bg-lines-left.png') 0 50% repeat;
}

.spacing--bg-right {
  background: transparent url('../img/bg-lines-right.png') 0 50% repeat;
}
