.twoup {
  @extend %clearfix;

  &__left {
    @include susy-breakpoint($large, $susy-large-simple, $no-query: true) {
      float: left;
      width: span(6);
    }
  }

  &__right {
    @include susy-breakpoint($large, $susy-large-simple, $no-query: true) {
      float: right;
      width: span(6);
    }
  }
}
