.video-link {
  position: relative;
  border-bottom: 0;
}

.video-link,
.video-link__img {
  display: block;
}

  .video-link img,
  .video-link__img {
    display: block;
    width: 100%;
  }

  .video-link__img--placeholder {
    padding-bottom: 56.204379562044%;
    background-color: $light-gray;
  }

  .video-link__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.5;
    transition: opacity 0.5s;

    .video-link:hover & {
      opacity: 0;
    }
  }

  .video-link__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
  }

  .video-link__text {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: rhythm() rhythm(2);
    background-color: $black;
    background-color: rgba($black, 0.5);
    color: $white;
    font-weight: 200;
  }
