$left-color: $black;
$middle-color: shade($light-gray, 10%);
$white-band: tint($light-gray, 30%);
$right-color: $white;

.banner {

  &:before {
    width: 100%;
    background: linear-gradient(to right, $black 0%, $light-gray 100%); /* W3C */

    @include breakpoint($medium, $no-query: true) {
      width: 95%;
      background: linear-gradient(#{180 + $degree}deg,  $left-color 0%, $middle-color 58%, $white-band 58%, $white-band 64%,shade($light-gray, 30%) 64%,shade($light-gray, 30%) 68%,$middle-color 68%,$right-color 75%, rgba(255,255,255,0) 75%);
    }

    @include breakpoint(1000px) {
      width: 50%;
    }

    @include breakpoint(1480px, $no-query: true) {
      width: calc((100% - 1024px));
    }
  }
}
