.logo {
  margin-right: 0;
  margin-left: 0;
  padding: rhythm(2) 0;
  background: transparent;

  &:before,
  &:after {
    display: none;
  }

  img {

    @include breakpoint(1480px) {
      margin-left: -100%;
    }
  }
}
