extends ../../includes/layout

block theme-css
  link(rel='stylesheet' href= relativeRoot + 'css/maihaugen.css')

block theme-css-ie
  link(rel='stylesheet' href= relativeRoot + 'css/maihaugen-oldIE.css')

block header
  mixin header('maihaugen.png', relativeRoot + "maihaugen/")

block favicon
  link(rel="shortcut icon" href=relativeRoot + "img/maihaugen.ico")
