$input-text-types: text search password email number !default;

@mixin input-text($font-size: $base-font-size) {

  &:hover,
  &:focus {
    border-color: $color-dark;
  }

  &:focus {
    outline: 1px solid $color-dark;
  }
}

%input-text {
  @include input-text;
}

@each $input-text-type in $input-text-types {
  input[type="#{$input-text-type}"] {
    @extend %input-text;
  }
}

// Use if IE6 support is needed
// IE6 does not support CSS-type selectors
// Requires ".input-text"-class to be added in markup
@if $legacy-support-for-ie6 {
  .input-text {
    @extend %input-text;
  }
}
