%datepicker__icon {
  @include sprite-icon($icon-calendar);
}
.datepicker__input[type="text"] + .datepicker__icon {
  @extend %datepicker__icon;
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie7 {
  .datepicker__icon {
    @extend %datepicker__icon;
  }
}
