// Use media queries to fall back to normal form elms on older browsers
@media only screen {

  .filter__label {
    border-color: $color-light;
  }

  .filter__input:checked + .filter__label {
    background: $color-dark;
    border-color: $color-dark;
  }
}
