
  .grid__item__img-container {

    &:before {
      @include highlight-grid($color-light);
    }

    &:after {
      @include highlight-grid($color-light, true);
    }
  }

  .grid__item__title__link {
    @include highlight-horizontal($color-light);

    &:hover,
    &:focus,
    .grid__item:hover & {
      background-color: $color-light;
    }
  }
