.menu__item {

  a {

    &:hover,
    &:focus {
      background-color: $color-light;
    }
  }
}

  .menu__item__link--active {

    .icon {
      @include sprite-icon($icon-menu-close);
    }
  }

    .menu__icon {

      &--menu {
        @include sprite-icon($icon-menu);
      }

      &--calendar {
        @include sprite-icon($icon-calendar);
      }

      &--watch {
        @include sprite-icon($icon-watch);
      }

      &--map {
        @include sprite-icon($icon-map);
      }

      &--ticket {
        @include sprite-icon($icon-ticket);
      }

      $icon-press-24: false !default;

      @if $icon-press-24 {
        &--press {
          @include sprite-icon($icon-press-24);
        }
      }
    }
