input.search__field {
  border-color: $color-dark;
  width: 100%;
}

.search__btn {
  &:hover,
  &:focus {
    background: $color-light;
  }
}
  .search__icon {
    @include sprite-icon($icon-search);
  }
